[2015-12-28 21:44] respectTheCode opened #1 "Android Support"
Is android support something you plan to add?

[2015-12-28 21:50] Apercu commented on #1
Hi, this is something I plan indeed, but I don't have an android terminal (yet) and the emulator is really annoying to use, so I just dunno when.

I'm open to PR though ;)

[2016-01-07 18:54] iheart2code opened #2 "Return more than just the host name in found event"
I would propose you return a similar object to what [node-mdns](https://github.com/agnat/node_mdns) is returning.

Example:
![example](https://cloud.githubusercontent.com/assets/590310/12179751/7a263fec-b52d-11e5-97c8-77db85c3d709.png)

[2016-01-07 19:01] Apercu commented on #2
Yeah definitely, will change that soon!

[2016-01-07 19:35] iheart2code opened #3 "Add a license"
As it stands, this library technically can't be used/extended by others. Please consider licensing this library, preferably under Apache V2 or MIT.

[2016-01-07 19:37] iheart2code commented on #2
@Apercu I can do the work for this and submit a PR. I'd ask that you first provide a permissive license for the project, though. See issue #3.

[2016-01-07 19:37] Apercu commented on #3
The License is MIT, you can see it in the `package.json`, I dunno if I still have to put an explicit `LICENSE` file though

[2016-01-07 19:48] iheart2code commented on #3
I'd put it in the LICENSE file and/or in the README. You'll also need to include it in the header of your Objective-C files.

[2016-01-07 19:52] #3 closed

[2016-01-07 19:53] iheart2code commented on #3
Thanks!

[2016-01-08 11:51] #2 closed

[2016-01-08 19:08] iheart2code commented on #1
Perhaps I can take a stab at this as well. I know Android, but am not really sure how to add Android to a React Native plugin. I'll let you know if I get stuck.

[2016-01-09 15:50] drojas opened #9 "How to get TXT from bonjour service"
Hi, thanks for sharing this!

I'm trying to get the "txt" attribute from a bonjour service. See https://github.com/watson/bonjour

Do you have plans for supporting this?

[2016-01-09 22:42] Apercu commented on #9
Is this specific to bonjour or all zeroconf implementations support it?

[2016-01-11 19:56] #1 closed

[2016-01-14 22:31] drojas commented on #9
Apparently it is a feature described in DNS-based Service Discovery that happens to be implemented on bonjour (not sure about other implementations). I don't know the implications of that, but hope it can be opted in react-native-zeroconf.

Sources:
https://en.wikipedia.org/wiki/Zero-configuration_networking#DNS-based_service_discovery
http://www.zeroconf.org/rendezvous/txtrecords.html

[2016-02-14 07:00] guptaash opened #10 "unhandled exception when services are removed"
Seems like a small bug -

DeviceEventEmitter.addListener('RNZeroconfRemove', service => {
      if (!service || !service.name) { return }
      const { name } = service

      delete this.services[name]  <--- this should be _services

      this.emit('remove', name)
      this.emit('update')
    })

[2016-02-14 09:08] #10 closed

[2016-02-14 09:09] Apercu commented on #10
Thanks, sorry about that, this should not have happened.

[2016-02-15 16:11] Apercu commented on #10
The fix is now available on npm as the 0.3.1 release

[2016-03-01 05:40] msurguy opened #11 "More usage examples"
Hello!

Sorry if this sounds silly.

I would like to ask if there is a way to add more examples of using this library, specifically how to retrieve objects retrieved on `resolved` function and whether I should do `zeroconf.getServices();` inside of on 'start' listener.

Thanks!

[2016-03-01 13:56] Apercu commented on #11
Hi,

If you call `getServices` directly in the start listener, you'll simply get nothing, since no service would have been resolved yet. This method is useful when you want to get the full list of resolved services periodically or manually.

If you want to get the services immediately after they are resolved, you should add the resolved listener that pass you the new service that have been resolve

[2016-05-06 08:46] Apercu commented on #11
@msurguy Hi again! If you don't have any further questions, I'm gonna close this. If you still think examples are needed, tell me and I'll do it!

[2016-05-06 08:46] #11 closed

[2016-06-15 10:46] yonahforst opened #12 "crash when network status changes"
I find that when I toggle wifi on/off while scanning, my app crash.

For some reason, this causes the `service` to become nil and crashes when it tries to set a nil key in a dictionary

![screen shot 2016-06-15 at 12 45 38](https://cloud.githubusercontent.com/assets/1440796/16077115/266611a0-32f7-11e6-84f1-4df1d9924378.png)

[2016-06-15 11:34] Apercu commented on #12
Thanks for the report! Will investigate on this.

[2016-06-29 14:41] Apercu commented on #12
Just an update to inform I've had difficulties to find an stable OSX system lately to sort this out, but I've not forgotten you ;)

[2016-07-24 09:45] Apercu commented on #12
Hi @yonahforst, I can't manage to reprod using the latest version.
When running on my device and discovering a service, I toggle my wifi, the service is resolved again and no error occurs.

Could you please try it out?

[2016-08-15 14:57] Rmannn opened #14 "Packages.json "files" key must be removed to allow complete install"
The package.json contains a key "files": ["dist"] line 6.

This results into missing directories for xcode and android.
After an install, only the dist directory will exist. The rest will be removed.

Could you fix the package.json please ?

[2016-08-15 15:15] #14 closed

[2016-08-15 15:23] Apercu commented on #14
Thanks

[2016-09-05 09:48] luisfpinto opened #15 "Build error on Android"
I'm trying to compile my app for android with this package and I get an error. So I was wondering if this package maybe isn't compatible.

[2016-09-05 10:07] Apercu commented on #15
It should, but without knowing said error I'm afraid I can't really help ;)

[2016-09-05 11:39] luisfpinto commented on #15
This is the error I get :

[code]

[2016-09-05 17:19] Apercu commented on #15
Could you please describe the steps you did for installation?

[2016-09-06 07:47] luisfpinto commented on #15
Yes sure, I did:

[code]

Then I get:

rnpm-link info Android module react-native-zeroconf has been successfully linked
rnpm-link info iOS module react-native-zeroconf is already linked

Then I include this on my code like this:
`
import Zeroconf from 'react-native-zeroconf'`

So I run on my devices as:

[code]

And finally while it is building the app I get the error I told you before:

[code]

[2016-09-06 08:50] Apercu commented on #15
Thanks for the insights! Could you please check that each step of the [manual installation steps](https://github.com/Apercu/react-native-zeroconf/wiki) for Android have been done correctly by rnpm? I'm guessing there is something missing from here.

I don't have a lot of experience in Android but we can ping the generous contributor who did the Android part if your search is fruitless.

[2016-09-06 09:26] luisfpinto commented on #15
Look like everything is correct

[2016-09-06 09:35] Apercu commented on #15
Hi @iheart2code!

Would you mind taking a look at it?

[2016-09-08 06:32] iheart2code commented on #15
Not sure when I can get to this. Possibly sometime tomorrow.

[2016-09-08 08:40] faireroquen commented on #15
I have "package com.balthazargronon.react;" in ZeroconfModule.java and ZeroconfReactPackage.java.
Renaming to "package com.balthazargronon.RCTZeroconf;" and the app compile.

But now for me , i have
Cannot read property 'scan' of undefined when i try to call the scan method but console.log(zeroconf.scan) return that the function exists :
scan()
{var type=arguments.length<=0||arguments[0]===undefin

[2016-09-08 09:03] faireroquen commented on #15
My bad , I'm still a beginner in react native ,  the package was not registred.
I add  new ZeroconfReactPackage() on getPackages() method of my app : MainApplication.java
For now , i get no errors.

[2016-09-08 09:04] Apercu commented on #15
Thanks then @faireroquen! I will push your patch now.

[2016-09-08 09:18] Apercu commented on #15
Would @luisfpinto or @faireroquen mind switching to the `fix-android-package` to check if everything is correct?

[2016-09-08 09:37] faireroquen commented on #15
I'm not sure i'm doing it right:
I do : npm install -S git://github.com/Apercu/react-native-zeroconf.git#fix-android-package
but now i got  ExceptionsManager.js:61Requiring unknown module "react-native-zeroconf".If you are sure the module is there, try restarting the packager or running "npm install"

i restart the packager but nothing change

[2016-09-08 09:42] Apercu commented on #15
Could you please retry now?

[2016-09-08 09:50] faireroquen commented on #15
Still the same. :(

[2016-09-08 09:56] Apercu commented on #15
Have you `rnpm link react-native-zeroconf` after?

[2016-09-08 10:07] faireroquen commented on #15
Yes , but it says that its allready linked , i tried with a new fresh project but still the same.

[2016-09-08 10:09] Apercu commented on #15
That's so strange, I only did the rename you specified. Can you check if you indeed have the change and it's correct?

[2016-09-08 10:16] faireroquen commented on #15
All changes are there , i have the module in node_modules/. Everything looks good.
Maybe react native does not like modules from git repositories branch, don't really know about that.

Or , and i've just see that , the path of the android module is not good , i have com/balthazargronon/react and it should be com/balthazargronon/RCTZeroconf

[2016-09-08 10:19] Apercu commented on #15
Yes, that's what I did on [the first commit](https://github.com/Apercu/react-native-zeroconf/commit/6de402ccae5e592df9ff6fcb2edae6a26ac1a16c), but tried another thing afterwards since you told me it didn't work, since I was unsure you did the folder rename. I can try to push an rc version on npm so you can test it out

[2016-09-08 10:24] faireroquen commented on #15
Yes , try to push a npm version and i'll try it :+1:

[2016-09-08 10:29] Apercu commented on #15
Pushed the `0.5.1-rc.1` version!

[2016-09-08 10:38] faireroquen commented on #15
It works :+1:

[2016-09-08 10:52] Apercu commented on #15
Cool! Gonna merge this on develop.

[2016-09-08 10:54] #15 closed

[2016-09-08 10:54] Apercu commented on #15
@luisfpinto Feels free to reopen this if the problem persist with the `0.5.2` release

[2016-09-22 14:48] westcode commented on #12
Hi @Apercu I have exactly the same error as described above, but i receive it immediately after starting a scan (no switching of networks). Any idea?

[2016-09-22 16:14] westcode commented on #12
The issue seems to occur when .scan() is called multiple times (stopping/starting) -> the callback is called with an empty service?

[2016-09-22 16:18] Apercu commented on #12
Hum that's strange, do you have any stacktrace?

[2016-09-26 08:09] westcode commented on #12
This is the HockeyApp report [faa57cb0db352ab7e98969fb1eaeada7.log.txt](https://github.com/Apercu/react-native-zeroconf/files/492542/faa57cb0db352ab7e98969fb1eaeada7.log.txt)

[2016-10-18 18:33] mathieu-gosbee-connectedlab opened #16 "index.android.bundle:24239 Cannot read property 'scan' of undefined"
From my investigation, ```const RNZeroconf = NativeModules.RNZeroconf``` is not defined

[2016-10-18 18:41] Apercu commented on #16
Which version? Did your `rnpm link`?

[2016-10-19 12:01] pranavrajs commented on #16
@mathieu-gosbee-connectedlab Got the same issue while running on android. @Apercu `rnpm link` didn't work. I tried manual install , worked correctly. My RN version is 0.35.0

[2016-10-25 17:37] mathieu-gosbee-connectedlab commented on #16
Please note rnpm doesn't exist anymore. You have to run ```react-native install react-native-zeroconf``` and then ```react-native link react-native-zeroconf```

[2016-10-25 17:37] #16 closed

[2016-10-31 15:17] JeroenNelen opened #19 "unable to resolve module"
Hello Apercu,

I'm trying to get it to work following the steps in the readme.doc.
However, as soon as I try to run it, I get the following error message:
Android:

    Requiring unknown module "react-native-zeroconf". If you are sure the module is there, try restarting the packager or running "npm install".

iOS:

    Unable to resolve module react-native-zeroconf from ...: Module does not exist

[2016-10-31 15:36] Apercu commented on #19
Hey,

How did you install the module?

[2016-10-31 16:37] JeroenNelen commented on #19
Hey Apercu,

Thanks for your swift reply.
I installed as suggested in the readme.md:
`npm i -S react-native-zeroconf
react-native install react-native-zeroconf
react-native link react-native-zeroconf`

I have currently switched from version 0.5.3 to 0.3.1 and installed the same way:
`npm i -S react-native-zeroconf
react-native install react-native-zeroconf
react-native link react-native-zeroconf`

[2016-10-31 17:16] Apercu commented on #19
The sources are not pushed to npm, but the compiled script is located in the `dist` folder, check if it's here but it should be.

Do you mind giving some insights on this @mathieu-gosbee-connectedlab? I know you installed it successfully not so long ago.

You might want to give a shot at the [manual installation wiki](https://github.com/Apercu/react-native-zeroconf/wiki) in the meantime.

[2016-10-31 20:32] mathieu-gosbee-connectedlab commented on #19
react-native install react-native-zeroconf?

[2016-11-01 13:43] westcode commented on #19
It seems the src package (no dist folder)  is in npm, i just downloaded the package and this is the result in the node_modules folder:
![root](https://cloud.githubusercontent.com/assets/5854357/19891678/77a78f6e-a041-11e6-9872-33231b9a2f36.png)

[2016-11-01 15:07] Apercu commented on #19
Stupid error on my part, sorry about that. This should be good in 0.5.4. Thanks @westcode.

[2016-11-01 15:07] #19 closed

[2016-11-02 14:25] JeroenNelen commented on #19
Hey @Apercu,

Sorry for my late reply, the dist was indeed missing, I got it to work by manually running npm i in the node_modules folder of the zeroconf and then running the build command to generate the dist folder.

Kind regards,

[2017-01-03 13:35] pellepersson commented on #16
I had the same issue. Running RN 0.39.

Running `react-native install react-native-zeroconf` and then `react-native link react-native-zeroconf` did not help, but following the guide for manual installation and adding what was missing solved the issue.

**MainApplication.java** was missing
`import com.balthazargronon.RCTZeroconf.ZeroconfReactPackage;`
and

`new ZeroconfReactPackage()` in the **getP

[2017-01-05 21:08] jdpigeon opened #23 "Unspecified error when phone put to sleep during zeroconf scan"
Been using the library with a recent project and very satisfied with how easy to implement it was.

However, in tightening things up recently, I've noticed that zeroconf seems to be responsible for two types of crashes in my app.

1. When the app is minimized as the user navigates to the home screen. Error is encountered on resuming the app.

2. When the phone is put to sleep by pressing the power

[2017-01-05 22:05] Apercu commented on #23
Hum not sure actually, what does your hook look like exactly? It seems a bit related to #12.

[2017-01-06 17:43] jdpigeon commented on #23
Hey there,

Thanks for getting back so soon.

We're not doing anything fancy when starting the scan (which is what I assume you're referring to by 'hook'). In addition to registering some listeners (onScanStart, onScanStop, and onGetDevices), this function is called in componentDidMount():
`
function startZeroConfScan () {
  try {
  zeroconf.scan(type = 'http', protocol = 'tcp', domain = 'local.')

[2017-01-07 11:57] enessoylu opened #24 "Service Register"
Hi, i want to register my own service. I cannot find any function to achieve this. Can anyone please explain me how to register my mdns service? Thanks in advance.

[2017-01-07 18:33] Apercu commented on #24
This is literally on the second line in their Readme, are you sure you searched enough? Beside, why opening the issue here?

[2017-01-07 18:33] #24 closed

[2017-01-13 15:38] hubertperron commented on #12
I happen to have the same problem. I'm stopping and starting the the scan every 10 seconds and sometime it crash.

I have played with the interval timeout and I can get it to crash reliably if I set the timeout to something excessive like 500ms.

Here's the stacktrace:

[code]

[2017-01-13 18:24] Apercu commented on #12
Thanks for this one, it appears more clearly that I comes from [here](https://github.com/Apercu/react-native-zeroconf/blob/develop/ios/RNZeroconf/RNZeroconf.m#L42). Would you be able to breakpoint into this to check wether it happens because the service name is `nil` or more generally what the `service` object look like?

[2017-01-17 15:38] Unforgiven-wanda opened #25 "Finding computers in the network"
Hello,
this is not an issue per se, but seeing as there is no usage example for your module, I've taken the liberty to open one.

I'd like to know if this module allows scanning the local network to discover the computers that are connected to it themselves, displaying their IPs and possibly their names. The readme is not clear on this point.

Thank you for taking the time.
Good evening.

[2017-01-17 17:41] Apercu commented on #25
This module is, thus its name, resolving services that advertise themselves using the [zeroconf](https://en.wikipedia.org/wiki/Zero-configuration_networking) protocol. You should read a bit on it to understand fully 😃

[2017-01-17 17:41] #25 closed

[2017-01-23 18:57] jdpigeon commented on #23
An update:

I managed to fix the red screen crashes by including a handler for the `error` event.

The error log are still the same as above, including that `[57] Socket is not connected` error, which I think is important. I've been running this app on iOS 10.2 and socket issues when the app goes to the background in iOS 10 have been noted elsewhere: http://stackoverflow.com/questions/39743686/web

[2017-01-23 19:16] Apercu commented on #23
Hum thanks for the update! Do you have this issue only on physical devices or are you also able to reproduce on simulator? Still not sure what I can do about it.

[2017-01-23 19:16] Apercu commented on #12
Have you tried to specify a error handler as stated by @jdpigeon in #23? It might fix the crash.

[2017-01-24 13:13] josvos opened #26 "TransformError when importing Zeroconf"
Hi,

Using react-native 0.40.0 on Android and react-native-zeroconf 0.5.6, I get the following error when doing `import Zeroconf from 'react-native-zeroconf'` (I don't even use it yet...):

[code]

I get this error when running in development mode (using the app-debug.apk) in the red popup screen, as well as when buidling a release version.

[2017-01-24 18:17] Apercu commented on #26
https://github.com/facebook/react-native/issues/7814 ?

[2017-01-24 19:05] jdpigeon commented on #23
I've only seen the error on the one physical device I'm using to develop. I have a feeling based on that stack overflow thread that it may be specifically an iOS 10 issue.

[2017-01-25 15:48] nomoreboredom opened #27 "On scan start app freezes"
Hello,

I have a situation like this. I use zeroconf as the following in my app:

    import Zeroconf from 'react-native-zeroconf'
        ...
        constructor (props) {
            super(props)
            this.state = initialState
            this._zeroconf = new Zeroconf()
        }
and then on componentDidMount:

     this._zeroconf.scan()

When I call the scan function (I have tried with p

[2017-01-25 19:29] Apercu commented on #27
Hey

Hum no that's strange, never experienced the issue, and the scan should happen in another process anyway, will keep this open.

[2017-01-26 10:04] nomoreboredom commented on #27
Wow weirdest things of all. I needed to restart my handy for it. Not restarting the packager, needed really to restard my Asus 4.4.2. I am closing this issue now, thanks again for this lib :)

[2017-01-26 10:04] #27 closed

[2017-01-26 17:36] Apercu commented on #27
Glad to hear that! Thanks 😄

[2017-01-31 23:52] jamsesso opened #28 "Duplicate interface definition for class RCTBridge - React 0.40"
Hi,
On a React Native 0.40 project, installing and linking this project results in the following error on iOS: "Duplicate interface definition for class RCTBridge" when attempting to build.

After some Googling, I found that as of React Native 0.40 the imports need to be declared as `#import <React/RCTBridge.h>` instead of `#import "RCTBridge.h"`. I believe the fix is as easy as renaming the impor

[2017-02-01 06:31] Apercu commented on #28
Thanks for this, I believe you're right, changing the headers should be all we need

[2017-02-02 17:52] #28 closed

[2017-02-04 15:01] josvos commented on #26
I don't have a `.babelrc` file, removed that for an earlier problem already.

In the meantime I'm at react-native 0.41.1, node_modules freshly installed (I do that every month or so), and the problem with react-native-zeroconf (now at 0.6.0) persists.

[2017-02-06 07:16] Apercu commented on #26
Do you have an example repo I could look into? Could be easier to debug

[2017-02-09 18:06] josvos commented on #26
I wanted to make a clean base tree, but when I init a new RN project, add r-n-zeroconf to the index.android.js file and there even create a Zeroconf object and start a scan (although I do not get results, I see a multicast message being sent) there is no TransformError :-(.  Still no idea what's causing the problem, the npm modules in both node_modules are at the latest version.

[2017-02-09 18:20] Apercu commented on #26
Hum, that's weird, are you using webpack or something in your other project?

[2017-02-10 10:40] josvos commented on #26
No... well, it has to be caused by something... I now added all npm modules I use in my main project to the minimal project tree and imported something from each module in index.android.js, with no success: that is, I can't reproduce it yet in the new tree.

[2017-02-13 13:21] pellepersson commented on #23
I am having the same issue as described here and I do believe it is related to #12 as well.

I am doing a new scan on network change and/or when the app state is changed to "active". I can trigger it by being in the app, double tapping the home button and then choose the app again. If I do this many times quite fast the error eventually appears and the service that is supposed to be resolved is se

[2017-03-13 08:05] battuashwik commented on #9
@Apercu  adding support to export txtData into javascript resolved object.

https://github.com/Apercu/react-native-zeroconf/pull/30

[2017-03-13 15:26] Apercu commented on #9
You can try the version published as of `0.7.1`, I'll keep this issue open since we don't have Android support yet.

[2017-03-13 15:26] Apercu commented on #9
You can try the version published as of `0.7.1`, I'll keep this issue open since we don't have Android support yet.

[2017-03-13 21:20] gcmartins93 commented on #9
We have to discuss about android support and the NSDManager lib. As you can see [here](http://stackoverflow.com/questions/25984894/android-mdns-txt-record), NSDManager TXT records was only just added in API Level 21 (Android 5.0). Shall we keep using this library on android or just switch to JmDNS (even having a slower performance)?

[2017-03-13 21:29] Apercu commented on #9
Maybe we can rely on [tinydnssd](https://github.com/youviewtv/tinydnssd) instead?

[2017-03-13 21:34] gcmartins93 commented on #9
I'm going to work on this, using tynydnssd instead.

[2017-03-14 19:24] gcmartins93 commented on #9
@Apercu adding support to txt attributes on android devices.

[#31](https://github.com/Apercu/react-native-zeroconf/pull/31)

[2017-03-14 21:30] Apercu commented on #26
Closing this, reopen if you find the issue and is related to the project.

[2017-03-14 21:30] #26 closed

[2017-03-21 15:57] drewvolz opened #33 "EventEmitter memory leak?"
I mounted and unmounted the component that scans for devices a few dozen times and received this message.

[code]

[2017-03-21 17:33] drewvolz commented on #33
This might have happened because I am not making use of `removeDeviceListeners`. I did not see it as part of documentation until I ran into it within the source. Maybe the docs should receive an [update](https://github.com/Apercu/react-native-zeroconf/pull/13#issuecomment-239684066).

[2017-03-21 18:26] Apercu commented on #33
Hi, thanks for the report!

Yes indeed, I forgot to update the readme, will do. Could you confirm it fixes your issues though?

[2017-03-21 18:29] drewvolz commented on #33
Seems to have fixed it, thanks @Apercu

[2017-03-21 18:33] #33 closed

[2017-03-25 21:13] Apercu commented on #9
Added support for both Android & iOs in `0.8.0`

[2017-03-25 21:13] #9 closed

[2017-03-25 21:14] Apercu commented on #12
Landed a change in `0.8.0` that might fix the issue. Please try and get back to me :)

[2017-03-25 21:16] Apercu commented on #23
@pellepersson Landed a similar change in the latest `0.8.0` version. @SiteFlo and @jamsesso did the same thing in their forks too, and might be interested.

[2017-03-27 19:37] hubertperron commented on #12
Just upgraded and it seems like the problem is fixed 👍

[2017-04-08 17:03] Apercu commented on #23
@jdpigeon Have you had the chance to try reproducing using `0.8.0`?

[2017-04-08 18:04] jdpigeon commented on #23
Just started working on this project again, actually. I'll take a look when I'm in the office on Monday

[2017-04-08 18:15] Apercu commented on #23
Cool! Have a good weekend 😃

[2017-04-11 15:31] jdpigeon commented on #23
Still noticing the same problems, unfortunately.

If I don't stop the zeroconf scan before minimizing the app I'll get an `Unhandled JS Exception: Uncaught, unspecified "error" event. (-72000)`.

I'm no longer so sure that my problems related to that iOS10 Socket issue since that error doesn't always pop up at the same time as the zeroconf one.

In any case, I have been able to work around the err

[2017-04-11 15:52] Apercu commented on #23
Hum, and what happens if you keep scanning with the error handler? I would assume the error get caught right?

[2017-04-12 06:04] Apercu commented on #12
Closing this one as it seems to be resolved by the latest release.

[2017-04-12 06:04] #12 closed

[2017-04-18 21:55] jdpigeon commented on #23
Yup! Error gets caught.

Unfortunately, it looks like the scan stops working properly. Changes to the list of zeroconf devices aren't detected after the error's been thrown until the component is remounted

[2017-04-29 14:27] kartikeygupta-tudip commented on #28
Hey, @jamsesso  thanks for this solution it worked for me as I am using react-native version above 0.40.

[2017-05-16 09:19] x5c opened #34 "possibility send json data to connected services"
i need to send json data string between two android devices, for interactive quiz app... is it posibble with this lib ?

[2017-05-16 15:35] Apercu commented on #34
This lib is an implementation of zeroconf, which is "only" a discovery service. After that, you'll have to create your own api 😃

[2017-05-17 16:54] Apercu commented on #34
Closing, let me know if you have any other question.

[2017-05-17 16:54] #34 closed

[2017-05-24 11:44] arun542 opened #35 "Can i use it to detect device on my router network ?"
I need do detect ip cameras. What kind of scan should i launch

[2017-05-24 21:14] Apercu commented on #35
Depends on the brand of your cameras, and if they actually broadcast themselves on the network, you need to look into their documentation.

[2017-05-27 06:38] #35 closed

[2017-05-28 17:02] brikendr opened #36 "Discovering a Node Http Server"
Hello,

First, thank you for providing this library. I have a use-case where i want to discover a node server on the local network. On the node server i tried using both [node_mdns](https://github.com/agnat/node_mdns) and [node-bonjur/zeroconf](https://github.com/watson/bonjour) for advertising the http server. On the mobile app i am scanning for such services using the `this._zeroconf.scan('http'

[2017-05-28 21:57] Apercu commented on #36
Hey ;)

Node mdns was also what I used in the past for my [remote control api](https://github.com/Apercu/furtive-api/blob/develop/index.js#L23), I would make sure your network allows your device to see each other, and that the service is running successfully. Are you able to discover your http server from another device with the node mdns browser methods?

[2017-05-29 06:19] brikendr commented on #36
Thank you so much for your reply @Apercu

Actually i have not tried to run browsing and advertising from two different devices yet, but i did run the mdn advertising service from one terminal and the discovery from another one, and it was successfully discovered (even node-bonjur was able to discover the mdns advertising service). I will try to run it from different devices and will report about t

[2017-05-29 06:28] brikendr commented on #36
Another thing,

I checked my network settings and network discovery is enabled so i dont think there is something that prevents the discovery in this aspect. Or maybe there is something else i should check!!!

[2017-05-29 06:31] Apercu commented on #36
Hum if you are not able to resolve it from the same device there's something weird then, I was thinking it was an issue with the network. Are you advertising over tcp?

[2017-05-29 06:38] brikendr commented on #36
Here is my server code for advertising:
`var ad = mdns.createAdvertisement(mdns.tcp('http'), 3000);
ad.start();`

The code from my react-native example app:
`constructor() {
    super();

    this._zeroconf = new Zeroconf();

    // Start the zeroconf scan using the huddlygo protocol
    this._zeroconf.on('update', () => {
      console.log("UPDATE! Services are: ",this._zeroconf.getServices());

[2017-05-29 06:50] Apercu commented on #36
Could you add a `error` listener and see if it's called with a potential message? Also add `start`, `found` and `resolved`, to see if they are called

[2017-05-29 07:26] brikendr commented on #36
@Apercu i tried your suggestions, unfortunately without any success. Here is the code:

[code]
I am not sure where the problem might be. Since it works from another terminal, i suppose it should work with the simulator as well. Is there any permissions i have to enable on the emulator to allow network discovery?

[2017-05-29 07:38] Apercu commented on #36
Hum that's pretty much what I was [doing](https://github.com/Apercu/furtive-app/blob/develop/src/pages/MainPage.js#L32-L38) I'm not really sure now.. If you can try from another device and verify it's not the simulator or something blocking it, I don't remember any special setting

[2017-05-29 07:42] brikendr commented on #36
Alright, anyway thank you for your effort :). Very much appreciate it.

[2017-05-29 08:32] brikendr commented on #36
@Apercu i just have one more question. Did you test your projects/examples always using a real android device or you also tested using an emulator? And if you did test with an emulator, did it work?

Thanks

[2017-06-04 11:18] brikendr commented on #36
Hello @Apercu

I tested the library with a real Android device and it is possible to discover the advertising http service. However, for some reason, when i reload the application, the service is not discovered anymore unless I rebuild the whole project.

Is this an outcome of not properly stopping the scan service, or it might be something else. I also wanted to ask when is the best way of stoppi

[2017-06-04 16:01] Apercu commented on #36
I usually do it in the. `componentWillUnmount` of the component that triggers the scan, but I'm not sure this will be called on reload, you might try it out ;)

[2017-06-06 11:54] #36 closed

[2017-06-08 19:02] egorf opened #37 "Scan lan for available hosts"
Hi!

Love the project. Works great. One question, is there a way to scan the local network for just hosts with advertised names? Say, none of the devices registered any services, however they are pingable by their .local name. Can I find them all?

[2017-06-08 19:27] Apercu commented on #37
Hey! Thanks 😄

That's a good question and given the actual implementation it's not possible. If you look at the [searchForServices](https://developer.apple.com/documentation/foundation/netservicebrowser/1417565-searchforservices), you need to provide a type and a domain for the scan, and it looks like the same for [Mono](http://www.mono-project.com/archived/monozeroconf/#documentation).

If you ha

[2017-06-08 19:31] egorf commented on #37
Thanks. I've also come to the same resolution after looking at various dns-sd and avahi docs

[2017-06-08 19:31] #37 closed

[2017-06-08 19:34] egorf opened #38 "How to debug found, but not resolved services"
It's me again with another question. After building a small example with your library everything seemed find. Unfortunately, sometimes I get in a situation, when services get found, but never resolved. Could you give me a tip on how to investigate this?

[2017-06-08 21:31] Apercu commented on #38
Hum weird, not really sure about that one never got the problem, sorry!
Will keep it open in case someone else has any idea or can reproduce

[2017-06-09 13:43] egorf commented on #38
Never mind, seems like something was wrong on the service side. Sorry to bother

[2017-06-09 13:43] #38 closed

[2017-06-11 05:06] kimvex opened #39 "undefined is not an object"
Hi, I have a problem when I want to scan and the error is as follows

Hello, I have a problem when I want to scan and the error is as follows

This is my code

[code]

What am I doing wrong?

[2017-06-11 16:03] Apercu commented on #39
Hey, How's your import looking?

[2017-06-11 18:04] kimvex commented on #39
I do it this way

import Zeroconf from 'react-native-zeroconf';

[2017-06-11 18:09] Apercu commented on #39
Your scan should look like

[code]

You've copy-pasted the definition from the readme, this is not valid javascript.

[2017-06-11 18:42] kimvex commented on #39
I have a question, can I find computers connected to my network with this module?

It is something that I am not clear, because it is what I am trying but the only thing that answers me is this

`{}`

in

`Zeroconf.on('update', () => {
        console.log(Zeroconf.getServices());
})`

[2017-06-11 18:46] Apercu commented on #39
You can if they advertise themselves using mdns or another zeroconf implementation.

[2017-06-11 19:04] #39 closed

[2017-06-12 02:11] kimvex commented on #36
I have the same problem, and I can not solve it because I do not get back a single service.

[2017-06-12 22:16] kimvex opened #40 "Few data"
Hi, I have a doubt.

When I get data from a service in IOS if it returns me data and it turns out and shows me this data.

[code]
In android is different in the never gets solved and only in the update event the data is shown but only this is shown.

`{ webserver: { name: 'webserver' } }`

That could be happening?

This is the code I am using.

[code]

[2017-06-15 17:57] crearc commented on #40
I'm just doing Android and having the exact same issue. Basically the service was found, but never resolves. That's the same problem that this issue had: https://github.com/Apercu/react-native-zeroconf/issues/38.

[2017-06-19 13:34] egorf commented on #38
Well, I've only played around with this library for a couple of days. My problem was a combination of bad `dns-sd` parameters from the device side and an error in the 'resolved' handler. Unfortunately, most of the time, when something is wrong, JavaScript fails silently without really showing any signs of an error. That led me to believe something was wrong with the lib.

Although, I have to say,

[2017-07-18 12:27] marwakhalil opened #41 "Detection on android device"
Hello,
First of all thanks for this library,
I Manage to discover advertised services from my mac when running react-native-zeroconf from my iPhone or from the iOS simulator, but i detect nothing from android device
is there any special thing that i should add to android project to make it work
Thanks,

[2017-07-19 22:52] Apercu commented on #41
Hey,

No I don't believe so, did you made sure you have installed the gradle dependencies? I believe since the feature from @gcmartins93 we need tinydnssd, but that should be it

[2017-07-20 08:28] marwakhalil commented on #41
Hey @Apercu ,
I believe you talk about the tinydnssd that is already added in the react-native-zeroconf gradle file through `compile 'com.youview:tinydnssd:1.2.7'`
the problem is i still got nothing in android, testing on my iPhone, i detect the service instantly, it's like magic, but on android, scan is started, and it's like forever, i detect nothing ...
i don't know what should i do about this

[2017-07-20 08:41] michbil commented on #41
I can confirm Android build is broken now. I updated to the latest library version, and detection on android stopped working. I tried debugging, and can see that application hangs indefinetely at MDNSDiscover.resolve line
[code]

[2017-07-20 09:26] michbil commented on #41
Switched to 0.7.1 for now, it works just fine

[2017-07-20 09:42] Apercu commented on #41
Arf, sorry for the inconvenience. The addition from @gcmartins93 seem to be the issue. Gabriel, can you please advice regarding the error?

[2017-07-20 09:43] Apercu commented on #40
Might be related to #41. Do you mind trying using the `0.7.1` version?

[2017-07-20 12:32] marwakhalil commented on #41
Hey, i've tried with 0.7.1 and still not working on android, it's like not detecting anything :(

[2017-07-20 12:40] michbil commented on #41
@marwakhalil double check your build, make sure you relinked and rebuilt your app. 0.7.1 is completeley functional

[2017-07-20 12:48] marwakhalil commented on #41
@michbil i've checked all, the app is functional and there no errors still got my ActivityIndicator animating in the scanning phase with no detection, on the other hand, the iOS app works great, instantly detection and resolving for the service , i even add the `compile 'com.youview:tinydnssd:1.2.7'` dependency for the reac-native-zeroconf gradle manually because i didn't find it in  V 0.7.1

[2017-07-20 13:51] Apercu commented on #41
The `0.8.0` introduced this new dependency that's why you don't see it. Like @michbil said you need to double check the build and that there is nothing cached on your project that could cause this.

[2017-07-20 16:03] gcmartins93 commented on #41
Hey guys, I'm going to review the code later today. Since I have a production app, using the latest version of this package and working fine (both Android and iOS), I don't know right now what may be causing this issue.

Thanks for reporting, anyway.

[2017-07-20 16:17] michbil commented on #41
Android 7.0

[2017-07-20 16:18] marwakhalil commented on #41
Android 6.0

[2017-07-21 10:13] merindorium commented on #41
Hi, @Apercu.
The problem is in `com.youview:tinydnssd:1.2.7` package. `RESOLVE_TIMEOUT` is 0, that why we somehow getting stuck in `while` loop of `resolve` method without timeout exception.
The only solution I have now is to set `RESOLVE_TIMEOUT` to non-zero and resolve service again on timeout exception.

[2017-07-21 12:52] gcmartins93 commented on #41
According to Tinydnssd documentation, when timeout param is set to zero, it'll listen forever for packets. The way this package is originally implemented, there is no way to pass _timeout_ param down to native modules. So, it's up to the user to manage timeout via js code - by stoping service when timeout and starting it again when required. It's up to you guys, to decide if this kind of timeout m

[2017-07-21 13:13] gcmartins93 commented on #41
Sorry, my bad, what @merindorium said makes sense. The service resolution is hanging forever, not discovering. I'll change timeout to a non-zero value and create an exception manager for timeout case, as suggested.

[2017-07-25 08:33] marwakhalil commented on #41
@gcmartins93 thanks for the changes, unfortunately, this is not resolving the service it was lasting forever resolving and with the new branch that you made, every time i resolve i got this message after a while "An error Occurred  Resolving service failed with message: Timeout"

[2017-07-25 09:44] michbil commented on #41
@gcmartins93 Hi, tried your build. Still not working. Seems like RESOLVE_TIMEOUT is not the issue. I debugged your code, it just catches SocketTimeoutException timeoutException two times and gives up.

[2017-07-25 10:02] merindorium commented on #41
Hi, I tried this build too and it works fine for me. I used 1000ms timeout and 5 attempts.

[2017-07-25 19:09] gcmartins93 commented on #41
Service resolution is what tinydnssd is in charge of, and we rely on it to do that, but, to you guys, it's failing. We can change RESOLVE_TIMEOUT and MAX_ATTEMPTS_TO_RESOLVE constants to achieve a better result, by testing a better combination, as @merindorium did. @marwakhalil, if the service couldn't be resolved on timeout interval, u'll receive this message, it's the expected behavior.
What are

[2017-07-25 20:37] marwakhalil commented on #41
Actually i understand that when we can't resolve a service we need to try again every time
i've tried what @merindorium said and 've changed both  RESOLVE_TIMEOUT and MAX_ATTEMPTS_TO_RESOLVE but still not resolving,
Infact, using the 0.7.1 version i manage to detect and resolve the service except for the txtRecord that's some kind of my problem now

[2017-07-25 20:42] gcmartins93 commented on #41
Folks, do you agree with indefinitely attempts or should it give up when a certain threshold is reached?

[2017-07-25 20:44] marwakhalil commented on #41
it should give up of course after a time of course ...

[2017-07-26 16:28] marwakhalil commented on #41
Hi Guys,
I found out a something,
actually @gcmartins93 thanks for the updates that u made on your branche and what i was really missing is the records, Let me explain TinyDNSSD does not work when your service does not have all the records, for example an A-Record is missing the TinyDNSSD does not work and show a TimeOutException (as it is in my case), unfortunately the getAttributes() that exists

[2017-08-10 17:57] sandeepmistry commented on #41
I'm experiencing a similar issue, with Wireshark I tracked the problem down to the `tinydnssd` library sending out the resolve request on a random port (non-5353): https://github.com/youviewtv/tinydnssd/blob/master/lib/src/main/java/com/youview/tinydnssd/MDNSDiscover.java#L151-L185

The device I'm trying to discover receives the request, but responds on the multicast IP but with a port of 5353.

[2017-08-14 19:36] gcmartins93 commented on #41
@sandeepmistry, tinydnssd creates a socket on a [random free port ](https://github.com/youviewtv/tinydnssd/blob/5e672903d6fe7890fcc23f67f8ac7f18eeb24bc6/lib/src/main/java/com/youview/tinydnssd/MDNSDiscover.java#L154), as you said, but, it always send the datagram package to [5353 port](https://github.com/youviewtv/tinydnssd/blob/5e672903d6fe7890fcc23f67f8ac7f18eeb24bc6/lib/src/main/java/com/youvie

[2017-08-14 20:45] Apercu commented on #41
Yep sounds good, I think it will be better than the current state

[2017-09-01 14:44] ianjwood commented on #41
I"m having a similar/familiar experience with Android; when I first started to look at Zeroconf everything worked fine. (react-native version 0.47.1 zeroconf version 0.8.1, on a range of different devices - both simulator and real).

Something suddenly stopped working and I can't figure out what. I do get an updated callback which logs the contents of a call to getServices() but this just outputs

[2017-09-05 15:51] josomers commented on #41
What is the status on Android mDNS detection please?

[2017-09-05 16:02] ianjwood commented on #41
@josomers the issue I had turned out to be Android build related; I'm not entirely sure what happened but a clean and an Invalidate Cache/Restart in Android studio fixed it.

[2017-09-06 07:20] josomers commented on #41
@ianjwood It didn't resolve the problem. Actually I don't see how this could even resolve it. I'll try to debug the library a bit.

[2017-09-06 08:51] josomers commented on #41
Is there a specific reason not to use the nsdManager.resolve (native Android)?
When I try to use that, I get the following resolved results:

name: ArtSoundAP, type: ._artSoundA._tcp, host: /192.168.10.135, port: 5000, txtRecord: manufacturer=ArtSound

[2017-09-06 16:02] Apercu commented on #41
@gcmartins93 So apparently txtRecords should be grabbable using mdns, do you think we should revert the tinydnssd implementation since it appears to cause quite a lot of issues to people?

[2017-09-06 19:35] merindorium commented on #41
I've found that [empty TXT record issue](https://issuetracker.google.com/issues/37020436) was fixed in Android >= 7.
For previous versions you still need to use 3rd party libraries.

[2017-09-07 20:37] Apercu commented on #41
Given that the txt issue linked by @merindorium has been fixed in newer Android versions, issue that motivated the tinydnssd implementation, I've decided to revert the specific commit and publish a new version `0.8.2`.

Please everyone try using that one instead, and reopen the issue if the problem persists.

I would still want to thank @gcmartins93 for the work he provided into getting a temporar

[2017-09-07 20:37] #41 closed

[2017-09-07 20:38] Apercu commented on #40
I've published a newer version, `0.8.2` that should revert to a working state. If you want to grab TXT data on Android you'll need to have an os system >= 7 though. Feel free to reopen.

[2017-09-07 20:38] #40 closed

[2017-09-07 20:39] Apercu commented on #23
Hey! We are now doing a sanity check on the service to prevent some errors which might catch your issue. Do you mind trying that?

[2017-09-08 02:22] sosedoff opened #43 "Troubles getting the package to work"
Hey there,

I've been trying to get the react-native-zeroconf package to work. I pretty much followed your installation instructions on a brand new RN app (v0.47.2). Everything installed using `react-native install / link`.

Here's some of my code:

[code]

However, im getting the `undefined is not an object (evaluating 'RNZeroconf.scan`) error. Thinking something didnt link correctly, i ran `reac

[2017-09-08 04:58] sosedoff commented on #43
NVM, the reason why nothing works is because i setup RN app with Expo, which does not support native modules. Bummer.

[2017-09-08 22:50] Apercu commented on #43
I guess this should be closed then?

[2017-09-08 23:13] sosedoff commented on #43
Yep

[2017-09-08 23:13] #43 closed

[2017-09-12 09:05] fivepointseven commented on #41
Just tried 0.8.2 on Android 7, service is resolved, but no txt record is present

[2017-09-21 20:14] rohailaltaf opened #45 "Uncaught Unspecified Error Event (-72007)"
Occasionally, I have been getting the following error. I can not reproduce this reliably but it still happens enough times for it to be a problem. [Here's a screenshot](https://imgur.com/a/DnYAz).

Im not quite sure why the red screen is being shown even though I am catching errors using:

`zeroconf.on('error', (error) => { alert(error) });`
[code]

Is there a way to just suppress the screen for n

[2017-09-21 21:50] Apercu commented on #45
Looks like it's related to #23, is it when you put it to sleep too?

[2017-09-21 21:54] rohailaltaf commented on #45
I checked #23 but this seems to be unrelated given that the app is active and running in the foreground with the screen unlocked

________________________________
From: Balthazar Gronon <notifications@github.com>
Sent: Thursday, September 21, 2017 5:50:28 PM
To: Apercu/react-native-zeroconf
Cc: Rohail Altaf; Author
Subject: Re: [Apercu/react-native-zeroconf] Uncaught Unspecified Error Event (-7200

[2017-09-21 22:16] Apercu commented on #45
Can you take a look at [this](https://stackoverflow.com/a/39791849/2054072) maybe?

[2017-09-23 15:13] josvos commented on #36
Hi, on the emulator it doesn't work, probably because it uses some private address that is NAT'ed to the "real" network.  Websockets etc. work fine, but this discovery tool doesn't (exactly the same app on the same network does work fine on a real device).

[2017-09-26 01:46] edudel commented on #23
It's still happening on 0.8.3 ...

[2017-09-29 07:19] fivepointseven commented on #23
Same here, and it happens very randomly

[2017-10-11 11:16] nomoreboredom opened #46 "Various issues"
Hey Apercu,

Thanks for the library.
Last year, this package came very handy to me while building an app.

This time, I have to use zeroconf again but still unsuccessful on the implementation until now, thats why I wanted to clarify/ask a couple of things.

Is this package supposed to be working on API below 21 on Android?
The version I have used last time was 0.5.6, now I do see some NDS function

[2017-10-11 12:51] amirmatin opened #47 "repeated alerts on resolved data"
first, thanks for the great plugin, works really well ..
I am facing a strange issue and it is when I call zero conf scan and on.resolve, I alert the resolved data however the for the number of times I call the method, number of alerts increment. ie the first time I call method i get one alert, second time i call the method i get 2 alerts at the same time and so on...
BTW there is a time gap betwe

[2017-10-11 15:40] Apercu commented on #46
Hello 😄

We are now using the `getAttributes ` in order to get the TXT record of the device with https://github.com/Apercu/react-native-zeroconf/pull/44. I don't think it's supported on lower Android version, but it shouldn't break he whole process either. What's the error you are experiencing? Any stacktrace?

It should work in a simulator depending on your network settings and if you have device

[2017-10-11 15:43] Apercu commented on #47
Hum that's weird, are you sure you are not creating multiple zeroconf instances somehow?

[2017-10-11 16:46] amirmatin commented on #47
Don't think so..., its only created when the page is loading..  before defining my class..

[2017-10-12 08:07] nomoreboredom commented on #46
So here is the thing.. I do have a dell printer on my network, which broadcasts its dns properly, I have no problem with that.

But we do have an iot device, which is connected via a lan cable to the router, and it 'only' broadcasts its name if the app is also connected to the router. When I connect the app to the Hotspot of this iot device, I do retrieve the data properly and no crash. But if I a

[2017-10-12 08:24] nomoreboredom commented on #47
@amirmatin, I solved this by calling
[code]
and then again calling ```this.zeroconf.removeDeviceListeners(); ``` on resolve function.

[2017-10-12 16:00] Apercu commented on #47
This [conditional](https://github.com/Apercu/react-native-zeroconf/blob/develop/src/index.js#L22) should take care of making sure there is only one listener for each event, @nomoreboredom you were getting the issue too?

[2017-10-12 17:57] nomoreboredom commented on #47
@Apercu Yes, however I was building the Zeroconf Object and using the resolve function on the constructor, if that makes a difference...

[2017-10-13 08:59] alexborisov commented on #41
I'm still getting this issue. I'm on 0.8.3 running on S8 Android 7.0. I get `found` and `update` events fine, but I never get `resolved`. In any case all i get for `getServices()` is an array of devices objects and they only have a `name` key.

[2017-10-15 08:17] iparianos opened #48 "Expo undefined is not an object (evaluating 'RNZeroconf.scan')"
- node_modules/react-native-zeroconf/dist/index.js:81:11 in scan,

Dear All,

Good morning, since new to react-native, but old dog on ObjC/Swift dev, I'm facing the above error when trying to use the Zeroconf module. The same error appears on Android too. I've followed the instructions below:
npm i -S react-native-zeroconf
react-native install react-native-zeroconf
react-native link react-native-z

[2017-10-15 19:37] nomoreboredom commented on #48
You can't use native modules with Expo as far as I know, you will need to unmount RN project from Expo to native code.

[2017-10-16 08:33] iparianos commented on #48
My first thought was this..But I didn't want to believe it..!I will give a try, thanks!

[2017-10-19 11:26] amirmatin commented on #47
@Apercu Thanks for your response.. I still have the issue, I added the componentDidMount before my render () and removeDeviceListeners() after resolve() but still get duplicates..
can you please share a sample code ?

thanks..

[2017-11-05 19:58] makeitnew opened #49 "Publish MDNS services"
Hi..

Anyone interested in using this package for publishing services?

The APIs on both iOS and Android are simple enough. I may submit a PR if @Apercu thinks this is the right place for the functionality. Otherwise, I'll create a separate package.

[2017-11-05 20:04] Apercu commented on #49
Hey, you mean to advertise a service directly from the native app? I guess it could be a functionality yes!

[2017-11-05 20:11] makeitnew commented on #49
That's correct. I have a use case where one app will publish (advertise) a service to other clients on local network. I'll send out an API proposal before I get started sometime in the next 2-3 weeks.

[2017-11-05 20:25] Apercu commented on #49
Nice thanks!

[2017-11-07 01:09] predorock opened #50 "zeroconf is not defined"
Hi, I am new to react-native developing and I am trying to do a sample app using the expo tool.
Here's my code that I cannot figure out why is not working.

[code]

I just follow the explanation on the repo and followed your example, what I'am doing wrong?
Thanks

[2017-11-07 02:12] Apercu commented on #50
Apparently you can't use native modules with expo https://github.com/Apercu/react-native-zeroconf/issues/48. Try to follow what @nomoreboredom said

[2017-11-07 08:58] nomoreboredom commented on #46
I am closing this issue as I find out that the error is related to bad txt record object.

[2017-11-07 08:58] #46 closed

[2017-11-07 15:17] Apercu commented on #46
Can you paste the txt record that was causing issues?

[2017-11-07 17:41] predorock commented on #50
Yes, I think that is not possible. I have created another app without expo and the plugin is working correctly.
Thanks :+1:

[2017-11-07 17:42] #50 closed

[2017-11-23 12:19] everyusernameistaken123 commented on #48
Hello all,

I try to use this module for 2 days now, I always end up in the described error ("TypeError: undefined is not an object (evaluating 'RNZeroconf.scan')")

I found some issues here describing the same error - they all have Expo as root cause as far as I understand?
After all the troubles with "ejecting", I started a new project with "react-native init" and just edited 2 files:

package.j

[2017-11-27 08:10] HeoConUnIn opened #51 "How to use???"
hi @balthazar ,

I don`t use zeroconf, you have example??

thanks @balthazar

[2017-12-01 06:15] whizdummy commented on #51
Please take a look at issue #11

[2017-12-11 10:35] szakhlypa opened #52 "Android: NsdServiceInfo getAttributes added in API level 21"
Hi, thanks for this package.

https://github.com/balthazar/react-native-zeroconf/blob/develop/android/src/main/java/com/balthazargronon/RCTZeroconf/ZeroconfModule.java#L144

getAttributes method of NsdServiceInfo was added in API 21 ( https://developer.android.com/reference/android/net/nsd/NsdServiceInfo.html#getAttributes() )
so older Android devices throws java.lang.NoSuchMethodError .

[2017-12-26 18:59] ANewmy opened #53 "Iterative zeroconf scans"
Starting one scan stops all other instances.. so I am curious on how you, or anyone has adapted an iterative solution to scanning multiple service types (ex. http, airplay).

Thank you.

[2018-01-10 15:04] LaurieWilliamsNZ commented on #23
Hi, any update on this. Having the same issue as listed above.

[2018-01-11 07:45] fivepointseven commented on #23
We went around this issue it by stopping all zeroconf operations on app minimize and resuming when app goes back to foreground.
No idea if there's an actual fix for that.

[2018-01-20 17:24] Rumidom commented on #48
that's sad, is there any way to make it work with Expo?

[2018-01-20 17:38] Rumidom commented on #48
yeah, i wish it would work on expo as well, if you want this module on expo please vote for it on expo's feature-requests: https://expo.canny.io/feature-requests/p/zeroconf-protocol-support , for now the only way is to detach

[2018-01-26 14:26] Culzean commented on #51
@whizdummy there aren't any usage examples there. Some example code would be helpful.

[2018-02-08 08:39] nomoreboredom opened #54 "NsdService: Unique id with no client mapping: 209"
Hi Balthazar,

Any idea what may be causing this, which makes the app crash on android devices, Android version 6:
[code]

Thanks!

[2018-02-22 11:33] yogeshmoradiya121 opened #55 "can you give us example how to use this library to detect list of connected devices to wifi"

[2018-02-26 14:28] westcode opened #56 "iOS warning"
FYI: RCTLog.js:48 Module RNZeroconf requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

[2018-03-01 18:11] #53 closed

[2018-03-01 18:14] ANewmy opened #57 "Multiple subnet scans?"
I am currently sending all traffic through a VPN, but zeroconf still only scans my local subnet instead of scanning the VPN's subnet.

Was wondering if there was a way to define the subnet manually, if the functionality is at all possible.

[2018-03-01 18:53] balthazar commented on #57
Did you took a look at stuff like [this](https://serverfault.com/q/445680)? To me it should work the same

[2018-03-25 08:13] chinmaygit opened #58 "Not working in production React Native 0.54.2. (Only IOS)"
I have recently upgraded RN from 0.52.1 to 0.54.2.
I am not able to get logs it in production, but it is working in debug mode.
it is working for android in both debug and production.
How can I get logs for ios in production, i am new to ios.
I don't think there are any breaking changes in the new react version.

[2018-03-27 07:40] chinmaygit commented on #58
I was using, the Redux Saga, it appears that fork effect in saga gets destroyed for some reason after some time. because of which it was not able to take actions sent by another saga to start the service discovery.

[2018-03-27 07:40] #58 closed

[2018-03-27 18:47] fabdrol opened #59 "TypeError: undefined is not an object (evaluating 'RNZeroconf.scan')"
I'm working on an app for a `C67ML_Carta2_Plus` Android e-reader. Sadly, the e-reader runs an ancient version of Android, 4.2.2.

I'm getting the following error: `TypeError: undefined is not an object (evaluating 'RNZeroconf.scan')`. My question is: is Android 4.2.2 supported an, if so, how do I get it to work?

[2018-04-11 17:05] #56 closed

[2018-04-20 08:37] jsdario commented on #52
Can we have some more info about this for someone to cook a patch?
I am experiencing this on a significant portion of my user base

[2018-04-20 10:24] balthazar commented on #52
You can use and pin to the `0.8.2` version, that doesn't implement [this commit](https://github.com/balthazar/react-native-zeroconf/commit/f810f94d52241e718bf397afd89a7dc08c164fb2)

[2018-05-04 10:02] andonivianez commented on #23
I fixed calling stop() method of zeroconf inside "resolved" event, give it a try ;)

[2018-05-05 19:26] Moverloia commented on #55
Did you get example?

[2018-05-07 12:15] aprilmintacpineda commented on #48
Some months later. It doesn't seem like there's any movement.

[2018-05-08 08:22] Bobozee opened #61 "RNZeroconf is undefined"
This statement in index.js returns 'undefined':

`var RNZeroconf=_reactNative.NativeModules.RNZeroconf;`

It is strange because the module is linked and the project compiled. What might I have done wrong?

[code]

shows the following:

_events
_maxListeners
_services
_dListeners
setMaxListeners
emit
addListener
on
once
removeListener
removeAllListeners
listeners
listenerCount

the call:

`zeroconf

[2018-05-08 08:50] robson3999 commented on #61
Hi,
you should initialize zeroconf with `const`:
`const zeroconf = new Zeroconf()` instead of `zeroconf = new Zeroconf()`

[2018-05-08 09:01] Bobozee commented on #61
Sorry, any fault. The project was actually not rebuild after I have installed the module. All is fine.

[2018-05-08 09:01] #61 closed

[2018-05-08 09:02] Bobozee commented on #59
You should rebuild the project after module installation. Restarting by clearing the cache is not enough.

[2018-05-11 09:31] mitevdev opened #62 "requiresMainQueueSetup method is missing"
It should be something like this:

[code]

[2018-05-12 04:29] hamidKhoshSafar opened #63 "How can I search in network for devices which are on specific port?"
How can I search in network for devices which are on specific port?

[2018-05-18 13:45] westcode commented on #54
I have this issue as well, on every scan a Unique id with no client mapping entry gets added. When too many scans are done, the service does not work anymore.
I can reproduce this error by performing alot of scans (Android 7.0).

Any idea how to resolve this?

Thanks in advance

[2018-05-29 08:51] westcode commented on #54
@balthazar any idea?

[2018-06-05 05:05] hezhii opened #65 "ios app crashes while formatting TXTRecordData"
My ios app crashes while calling `zeroconf.scan()`. It could find the device. I think this may be the result of formatting data, so i try to debug the code.I found that there would be a mistake here.

![image](https://user-images.githubusercontent.com/25079915/40956008-66e455c4-68c0-11e8-930d-cc005731d81f.png)

Im not a ios developer, I can't find the primary cause. What should I do to solve this

[2018-06-20 06:26] Eden-Sun opened #66 "upgrade 0.9.0 to npm"
As title, please deploy it.

Thank you.

[2018-06-20 06:29] balthazar commented on #66
Done

[2018-06-20 06:29] #66 closed

[2018-07-12 16:13] jalieven commented on #49
Any progress on this enhancement? I am planning to implement this if nobody has already done so. Will need some help on iOS since I'm not well versed in Objective C. But I could take a stab at it.

[2018-07-12 18:17] makeitnew commented on #49
I moved on to another project. However, I do have an iOS implementation
(but not Android yet). I can publish that in about a week. Maybe we can
merge Android and iOS versions.

On Thu, Jul 12, 2018 at 12:13 PM Jan Lievens <notifications@github.com>
wrote:

[2018-07-15 07:18] jalieven commented on #49
@makeitnew I have added you as a collaborator on my fork: https://github.com/jalieven/react-native-zeroconf. I have already added the placeholder register/unregister react methods in iOS. Would be nice to inject your iOS code in there. I can test it an create a pull request for @balthazar

[2018-07-31 13:26] OMuhammad opened #67 "A support for Bluetooth"
I have no problem finding services from my iPad when i am connected to a WiFi network. But when i couldn't get a service when i connect via Bluetooth. Is there any support for it?

Thanks

[2018-08-08 13:32] LaurieWilliamsNZ opened #68 "Unable to discover MDNS services"
Unable to discover MDNS services on iOS with react-native-zeroconf , however after performing a scan via Fing (iOS app) I am able to discover and resolve successfully again with react-native-zeroconf.

Any suggestions on how to resolve this?

[2018-08-27 03:10] shanekoss commented on #49
Very interested in this.  Any news?  Happy to help if I can.  Cheers.

[2018-08-27 16:58] makeitnew commented on #49
I'll add my code in the next day.

On Sun, Aug 26, 2018 at 11:10 PM shanekoss <notifications@github.com> wrote:

[2018-08-27 17:10] makeitnew commented on #49
Please have a look at https://github.com/makeitnew/react-native-zeroconf.git.
This fork contains both my iOS implementation and an Android
implementation, (I actually didn't remember I'd done the Android version
too as I've been away from this project for several months.)

Anyway, please take a look and let me know. I understand our interfaces
probably aren't identical. I can either adopt my code

[2018-09-12 13:10] harrischelsea opened #70 "how to search for all devices in local network?"
I am using this line of code.

`scan(type = 'http', protocol = 'tcp', domain = 'local.') Start the zeroconf scan`

But only if I set type="apple-mobdev2" I can found my iphone.
Is possible to find all devices?

[2018-09-13 18:39] RyanMitchellWilson commented on #45
I get this error ever single time I try to use it. Any fix for this yet?

[2018-09-13 20:30] RyanMitchellWilson commented on #45
I found this on stack overflow https://stackoverflow.com/questions/10550137/what-cause-error-nsnetserviceserrorcode-72000.
This will tell you what those error codes actually mean. I was getting an error -72004 and that was because I was trying to pass in `_http` as the type. As soon as I switched that back to `http` I was able to get data back.

This may help narrow down what is actually happening

[2018-10-01 07:13] dangh commented on #70
I'm not sure about Anroid but in iOS binding, NSNetService doesn't have option to search for all types of services. But I think it's feasible to implement it manually:

- Create an UDP socket, broadcast an mDNS query on port 5353.
- Listen on this socket, parse the incomming packets.

You can check out this Chrome app [sample](https://github.com/GoogleChrome/chrome-app-samples/tree/master/samples/

[2018-10-04 16:47] zardtomcat opened #71 "RNZeroconf is undefined"
Hi,

I have been trying to use **zeroconfig** with react-native (for Android) and I am keep getting an error. I get the error after I make this call:

[code]

This is the error I get:

[code]

Does anybody knows what the problem is?
Has anybody got this working on Android?

Thanks

[2018-10-08 13:30] harrischelsea commented on #71
Hi zardtomcat,

I am working with zeroconf on my react-native project. I started zeroconf scan() successfuly on android and ios, but the problem is that type = 'http' is not working on both of them.

If you dont resolve your problem, I can send you my example. Or if you resolve it, does the 'http' work?

[2018-10-09 17:06] zardtomcat commented on #71
Hi there
No luck yet. I am working on an android app and scan doesn't work. I am using http for type. Would appreciate if you can send your example.

Thanks

[2018-10-11 08:46] zardtomcat commented on #71
Hi harrischelsea
I am not getting anywhere with it. Would be good to see your example, if you can share it.
Thanks

[2018-10-17 22:56] zardtomcat commented on #71
Hi
It seems awfully quiet here.. Has anybody got a solution for this or knows any other package which I can use?

Thanks

[2018-11-26 21:47] alejandromvp commented on #36
Please share the code of how to implement zeroconf and react native

[2018-11-27 21:58] jclwong commented on #71
@zardtomcat I resolve this issue installing react-native-zeroconf by going into Android Studio and running a Gradle sync #insertPlausibleReasonHere

[2018-12-03 02:57] fishkingsin opened #72 "Android NSD does not resolved(nothing found) services on Android P"
Guys, I am testing on Pixels 3 Android P, unfortunately, it doesn't work,
I am trying to migrate from android dns android.net.nsd.NsdServiceInfo
to
javax.jmdns.JmDNS;
https://github.com/jmdns/jmdns

here is the changes
https://github.com/nixplay/react-native-zeroconf/tree/develop
can anyone feed back and help to improve it ?

[2018-12-03 14:21] #51 closed

[2018-12-03 14:30] balthazar commented on #65
@battuashwik Any insight on this?

[2018-12-03 14:31] balthazar commented on #59
As @mitevdev it looks like your module is not installed properly. Make sure you double check that

[2018-12-03 14:31] balthazar commented on #71
Are you sure you installed your module correctly? If `RNZeroconf` if `undefined` it's most likely what the issue is.

[2018-12-03 14:33] balthazar commented on #72
Doesn't work -> can you be more specific?

[2018-12-03 14:35] balthazar opened #73 "Create Example"
As asked in #11, #51, #55.

[2018-12-03 14:36] #55 closed

[2018-12-03 14:37] balthazar commented on #71
Dupe of #59

[2018-12-03 14:43] balthazar commented on #48
As @nomoreboredom, using Expo prevents you from using native modules, which react-native-zeroconf is. You need to eject or wait for the canny feature request (but it may take a while). I'm going to have a bit of time to get back on this module and create a full example #73. For people getting an `undefined` `RNZeroconf`, it's likely you have your module not installed correctly.

@aprilmintacpineda

[2018-12-03 14:43] #71 closed

[2018-12-03 14:46] balthazar commented on #68
Not sure to be honest, might require a bit more info/data. Are you able to debug? How are you broadcasting your service?

[2018-12-03 14:50] balthazar commented on #70
Well if your service is broadcasting using `apple-mobdev2`, scanning on `http` will not work. As @dangh pointed out however, you could have a list of the different types of devices you want to search for an initiate a scan for all of them.

[2018-12-03 14:51] balthazar commented on #63
I'm sorry but I do not understand the question, as zeroconf implies a type, protocol and domain, not a port.

[2018-12-03 14:51] #63 closed

[2018-12-03 14:56] balthazar commented on #45
Looks like this error code refers to a timeout. The catch should work however.

[2018-12-03 15:06] balthazar commented on #23
`NSNetServicesUnknownError` corresponds to the 72000 status code, which is not really helpful in itself. However, it's likely the OS is putting some of the app net services on pause while in the background and resuming them on foreground,  resulting in the error you guys are seeing.

The idea of @rdev is actually a good one. It might be possible to stop it seamlessly inside the module, but while w

[2018-12-04 03:11] fishkingsin commented on #72
@balthazar Android NSD does not resolved(nothing found, nothing response) services

[2018-12-04 05:40] hezhii commented on #65
I delete this code, then it works well.
[code]

This is the result, hope it helps:
[code]

[2018-12-04 11:16] balthazar commented on #65
Could you give us the exact stacktrace of the error?

[2018-12-04 11:17] balthazar commented on #73
Nice, I'm going to try that

[2018-12-04 11:19] balthazar commented on #72
Are you sure this is an issue with the NsdService or with your emitter? Did you make it work with jmDNS?

[2018-12-04 11:49] fishkingsin commented on #72
I migrated from https://github.com/becvert/cordova-plugin-zeroconf
And already tested

James Kong

[2018-12-04 20:00] #73 closed

[2018-12-04 20:01] balthazar commented on #59
For future readers, you most likely haven't ran`react-native link`.

[2018-12-04 20:01] #59 closed

[2018-12-04 20:02] #48 closed

[2018-12-04 20:03] balthazar commented on #72
I think I'm running onto the same issue using the Android example I just pushed.

[2018-12-04 20:06] balthazar commented on #68
Just tried the example and don't have any issue on iOS. Maybe try this one?

[2018-12-04 20:06] #68 closed

[2018-12-05 10:44] balthazar commented on #72
No idea, but looking at jmdns they seem to have lots of issues too.

[2018-12-06 11:56] balthazar commented on #65
Could you try to wrap the `dict[key] =` assignment in a `@try`?

[code]

[2019-01-24 11:36] #72 closed

[2019-02-13 11:38] weswes commented on #49
@makeitnew Could you please submit a PR ? I've tested on iOS and confirm it works.

[2019-02-15 12:49] makeitnew commented on #49
I’ll submit a PR today.

On Wed, Feb 13, 2019 at 6:38 AM Wesley <notifications@github.com> wrote:

[2019-03-01 15:33] Hadjimina opened #76 "iOS build error"
Hi,

I have been trying for an entire day to get it to build and I am now in serious need for help.
On android it works perfectly and the setup was super easy, however on iOS it's a nightmare.

I setup everything like the docs say when setting up a react native app (I am using expokit btw) and everything works fine. However when I try to build it I get this error:

`/node_modules/react-native-zero

[2019-03-01 16:49] balthazar commented on #76
Hey, I'm guessing this is an issue with the React version being too high and they changed something with the Bridge.

What RN version are you using?

[2019-03-01 17:20] Hadjimina commented on #76
This one:

react-native: 0.57.1

[2019-03-13 08:57] Hadjimina commented on #76
Hey any update on this issue?

[2019-03-18 09:57] Hadjimina commented on #76
Never mind figured it out. My mistake...

[2019-03-18 09:57] #76 closed

[2019-04-01 18:51] Vondry commented on #70
Hi, I have same issue.

I have `avahi-daemon.service` running on my Raspberry pi 3.
- i allowed publishing workstation, info and other config

O my laptop with Ubuntu 18 i can run  `avahi-browse -a -v`, which prints
[code]
i can also connect with ssh or just use browser with domain `raspberrypi.local`

What i can NOT is discover worksation using `react-native-zeroconf`
- i used example from this s

[2019-04-01 19:43] balthazar commented on #70
Are you sure it is not being case-sensitive? And the third argument is being used so not sure why you say that

[2019-04-01 21:11] Vondry commented on #70
I did some tests and case-sensitivity is not the problem.

As far as i know the service `_workstation._tcp` does not need to be specified in  file `multiple.service` and it is multicasted when `publish-workstation=yes` and `publish-hinfo=yes` is set in file `avahi-daemon.conf`

In your file `ZeroconfModule.java` is domain argument without use - so i thought that is redundant, i am sorry if i am wr

[2019-04-04 15:36] Vondry commented on #70
Hi.
I did some more digging and test utility `avahi-discover` and this is the ouput:
[code]
And this is my actual minimal app setup

[code]
But nothing seems to be found in Android emulator or physical device. I am really stuck and do know where the bug may be.

[2019-04-08 09:47] knro commented on #70
I get nothing as well on Android, zero results and while avahi-discover shows a few.

[2019-04-12 06:04] thehellmaker opened #77 "Migrate NSDService implementation of Android to RxDnssd"
Hi,
This is an issue to migrate NSDService implementation of android to https://github.com/andriydruk/RxDNSSD. I have used jmDNS and NSD service and they work well on new phones where as older android phones and certain versions and networks have issues.

Explanation from the author ofRxDNSSD on why NSDService and jmdns and others are not nearly as good.

One main advantage is rxdnssd relies on ap

[2019-04-12 06:28] balthazar commented on #77
Yeah it's true some people have had issues with android detection lately, most likely because of the new jmdns implementation. Would be great if you could shoot a PR for it, and we can direct people to use the tag and see how well it goes for them, to eventually switch over

[2019-04-13 15:22] thehellmaker commented on #77
Absolutely. Makes sense. i will publish a PR for the same as soon as i am ready.

[2019-04-13 16:38] thehellmaker opened #78 "Error in react-native-zeroconf when trying to assembleRelease"
I am trying to release my app to the play store and I followed the steps in https://facebook.github.io/react-native/docs/signed-apk-android

when i run ./gradlew release I get the following error. I believe its a mismatch in gradle and library versions.

Execution failed for task ':react-native-zeroconf:verifyReleaseResources'.

  error: resource android:style/TextAppearance.Material.Widget.Button

[2019-04-13 17:02] thehellmaker commented on #78
Most of these disappear when compileSdkVersion is downgraded to 26 from 28

[2019-04-15 16:56] Vondry commented on #77
These are really great news, thank you @thehellmaker. Could you please share your time estimation for this enhancement? :)

[2019-04-17 10:32] dangh commented on #70
This library using NsdManager which is not well supported across Android devices. Last time I had to pull in [jmDNS](https://github.com/jmdns/jmdns) and [RxDNSSD](https://github.com/andriydruk/RxDNSSD), and later found out that the test device doesn't support multicast on IPv4, only IPv6 🤦🏻‍♂️

[2019-04-18 09:49] westcode commented on #78
@thehellmaker I cannot reproduce this anymore, but I think we had the same problem before setting the compileSdkVersion and buildToolsVersion for subprojects.

You can try to use the following in your build.gradle:

subprojects {
    afterEvaluate {project ->
        if (project.hasProperty("android")) {
            android {
                compileSdkVersion 28
                buildToolsVersion "

[2019-04-18 09:52] westcode commented on #62
Sure you are using the latest version? https://github.com/balthazar/react-native-zeroconf/commit/b9b863a610bf7ae0cac102ae082c987ef5fc0fdb#diff-52c59cceb39162c1d1350b424b6c8ace

[2019-04-20 20:59] wbrickner commented on #76
@Hadjimina Please tell me what the solution was?  I am stuck with this exact issue.

[2019-04-20 22:02] Hadjimina commented on #76
I had to add `${SRCROOT}/…/…/ios/Pods/Headers/Public` and something like `${SRCROOT}/…/…/ReactNative` (super unsure about the second one, but it was something like that) to both Project and Target of the library that failed to build. Good luck

[2019-04-21 03:32] wbrickner commented on #76
Okay. I will try some things and report back with my solution for posterity.

[2019-04-23 12:34] bitcrumb commented on #45
The issue situates itself on this line: https://github.com/balthazar/react-native-zeroconf/blob/master/src/index.js#L28

The `err` variabel is a string. However, when emitting an error event, the expected value is an Error object. This is asserted in the EventEmitter code (see: https://github.com/nodejs/node/blob/908292cf1f551c614a733d858528ffb13fb3a524/lib/events.js#L187).

I'll open a PR to fox

[2019-04-23 13:10] bitcrumb commented on #45
Nevermind, I was on the wrong track. Apparently it is intended that the error is thrown... however it's not right that the error can't be catched. Is this due to EventEmitter being addressed directly instead of just throwing the error?

Isn't the proper fix to *not* use the EventEmitter & just throw a regular error in JS? This wat it can be catched...

/cc @balthazar

[2019-04-23 13:25] bitcrumb commented on #45
@balthazar This fundamentally explains the issue why the errors can't be catched:

[code]

[2019-04-30 07:34] eliaslecomte commented on #77
Any update @thehellmaker?

[2019-05-02 08:54] sergioatzori commented on #78
Hello, any news on this?
Cannot assembleRelease, no matter what compileSdkVersion or targetSdkVersion I use...

[2019-05-06 05:12] tedhenry100 opened #80 "Addresses array and host recommendation?"
iOS's NSNetService [addresses property](https://developer.apple.com/documentation/foundation/nsnetservice/1408528-addresses?language=objc) is an array of possibly multiple addresses.

Android's NsdServiceInfo [ultimately returns just one address](https://developer.android.com/reference/java/net/InetAddress.html#getHostAddress()). react-native-zeroconf wraps this address in an array to maintain a u

[2019-05-06 05:19] tedhenry100 opened #81 "stop discovery when start discovery or stop discovery fail?"
In the Android NSD article, in section [Discover services on the network](https://developer.android.com/training/connect-devices-wirelessly/nsd#discover), there are the following method implementations. Would the calls to `stopServiceDiscovery` be improvements to the react-native-zeroconf code?

    override fun onStartDiscoveryFailed(serviceType: String, errorCode: Int) {
        Log.e(TAG, "Disc

[2019-05-06 05:30] tedhenry100 opened #82 "domain parameter recommendation?"
react-native-zeroconf's `scan` method takes three parameters: `type`, `protocol`, and `domain`. It looks like the It looks like the Android implementation doesn't make any use of the `domain` parameter at all. The iOS implementation does make use of the `domain` parameter.

From the [searchForServicesOfType:inDomain: documentation](https://developer.apple.com/documentation/foundation/nsnetserviceb

[2019-05-06 17:41] balthazar commented on #81
I'm not sure honestly, but trying to stop the discovery in the failed stop discovery failed doesn't seem like a good idea 😂

[2019-05-06 17:42] balthazar commented on #81
And trying to stop it if it fails to start the discovery actually doesn't seem right either. If you have any idea of the benefits of this feel free to reopen

[2019-05-06 17:42] #81 closed

[2019-05-06 17:44] balthazar commented on #80
The iOS array is probably there to support iPv4 and iPv6 for the same host. I would say just take the first personally

[2019-05-06 17:44] #80 closed

[2019-05-06 17:51] balthazar commented on #82
Good point. Because Android doesn't support the domain, I just felt ignoring it and returning the full result was a better way of handling it. Maybe add our own custom filtering for the Android results would be nice, but I am not quite sure honestly

[2019-05-06 17:53] balthazar commented on #77
Looking at the RxDNSSD API and really like what I am seeing. Not sure if @thehellmaker has time though.

@Vondry what is it that you think switching to RxDNSSD will improve?

[2019-05-07 01:28] tedhenry100 commented on #82
Thanks.

Do you think using the empty string is the best option in order to have matching results on both iOS and Android?

[2019-05-07 01:33] balthazar commented on #82
I would say so yes

[2019-05-07 06:57] tedhenry100 commented on #81
Thanks for your thoughts.

[2019-05-07 06:57] tedhenry100 commented on #80
Thank you.

[2019-05-07 07:01] tedhenry100 opened #83 "netServiceBrowser:didRemoveService:moreComing: should remove from resolvingServices?"
If a service has been found, has not been resolved, but is removed, is it stuck forever in `self.resolvingServices`?

It looks like [netServiceBrowser:didRemoveService:moreComing:](https://github.com/balthazar/react-native-zeroconf/blob/master/ios/RNZeroconf/RNZeroconf.m#L65) doesn't remove the service from `self.resolvingServices`.

[2019-05-12 16:21] PhuongNguyenETIT opened #84 "error Android resolve null?"

[2019-05-28 10:59] tavrez commented on #78
I also can't build with RN 0.60

[2019-05-28 17:24] wojo1206 opened #85 "Android returns {}"
I got inconsistent result between platforms. None when scan with android and few when scanning on ios. Both share the same code and network. Using other tools I can confirm that services are advertising correctly on this network. I am on RN `0.59.8`. This package seems to have limitations that are not documented. I got no error messages. Android always returns `{}` and `resolved` event is not invo

[2019-05-29 18:18] PhuongNguyenETIT commented on #77
https://code.google.com/archive/p/mdnsjava/source/default/source

[2019-05-30 15:39] #84 closed

[2019-06-03 07:39] rolandjitsu opened #86 "Cannot build with latest"
I'm having some issues using this lib, it fails when it's building it:
[code]

Is there any way to work around this issue?

[2019-06-03 08:17] rolandjitsu commented on #68
I seem to be having the same issue. I'm publishing a bonjour service using a simple nodejs [bonjour](https://www.npmjs.com/package/bonjour) package.

[2019-06-03 10:49] rolandjitsu commented on #85
I've experienced something similar. It used to trigger the resolved event with all services, but now it doesn't anymore.

[2019-06-04 00:58] wbrickner opened #87 "Publish as an Expo unimodule?"
I'd like to use Zeroconf functionality, but I have to leave Expo's beautiful walled garden to do so, and the cost seems too high from my technical perspective.

**I've been thinking about trying to contribute a modified version of your project into the Expo repository myself (because support has gotten little attention on Canny).**

I'd like to understand how complex this task would be.  I underst

[2019-06-07 08:48] knro commented on #85
Same issue here, nothing is returned at all.

[2019-06-15 06:37] StefanWallin commented on #80
I've been thinking about this and came up with promise type where I race the potential addresses against a status-endpoint on the server and take the address that responds first. For me, _uncertain if it's only in development with the react-native remote debugging turned on_, I've discovered that the ipv6-addresses throw a typeError from within fetch, so just taking the first is not something I'd

[2019-06-16 17:08] thehellmaker commented on #52
Hi @balthazar,
Can we add a version check for this part of the code rather than using older version?
Cheers
Akash A

[2019-06-16 17:09] thehellmaker commented on #52
I can send a PR for this request if you are ok with it?

[2019-06-16 18:06] balthazar commented on #52
Yes would be great!

[2019-06-19 12:18] gercog1 commented on #85
Any progress with that? someone?

[2019-06-21 06:58] PhuongNguyenETIT opened #89 "android return host is IP"
When android scans, get results. But the host is the IP address. Also on IOS, the correct host results are returned.

[2019-06-29 11:31] jjv360 opened #90 "Automatic permissions"
Forgive me if there's a reason for this, but can the permissions not be added to this library's `android/src/main/AndroidManifest.xml` ? Then this library would be able to be installed and linked automatically without any changes to the app's `android` folder (which is recreated often in my case)...

I'm talking about these:

[code]

[2019-06-29 16:01] balthazar commented on #90
I'm not an Android developer, so I don't really know what is the standard for this (if you can show examples of big libs or resources it would be nice), but wouldn't it be bad that we stealthy grant these at the library level? When doing it the current way there are no surprises to the developer is the thing I can see, but I'm open to change

[2019-07-01 04:56] jjv360 commented on #90
Judging by [these docs](https://developer.android.com/training/permissions/usage-notes) I think it's fine to include automatic permissions, as long as there's a warning in the readme...

[This bluetooth lib](https://github.com/Polidea/react-native-ble-plx/blob/master/android/src/main/AndroidManifest.xml) and [this file system lib](https://github.com/itinance/react-native-fs/blob/master/android/src

[2019-07-01 05:33] balthazar commented on #90
https://github.com/Polidea/react-native-ble-plx#android-example-setup it stills requires you to add the permissions manually though, so not sure of the utility

[2019-07-02 08:48] tavrez commented on #78
Anyone knows a solution for this? I really need this to work, I downgraded RN to 0.57 and SDK to 23 but still no luck, please help

[2019-07-02 09:37] jjv360 commented on #90
The other one doesn't, but if you are not comfortable with it that's fine, it's not too much trouble to add them manually every time...

[2019-07-11 13:43] xploSEoF opened #91 "Add TXT part to the ability to advertise."
Now that the ability to advertise is in (or nearly, see #88) the ability to advertise with TXT records is missing.

[2019-07-11 13:50] xploSEoF opened #92 "Failure to resolve results in halted search"
Sometimes bad IPv6 addresses make their way into a Bonjour record (I'm not sure how, but this has happened a fair amount during testing, oddly with `%en0` as the last part of the address). As such, any running search trying to resolve this bad IP not only fails to trigger "resolve", but also then triggers "error" and promptly stops searching.

What I expect the package to do is disregard this IP a

[2019-07-11 14:37] xploSEoF opened #93 "Cannot perform two searches at the same time"
It would seem I cannot perform two searches at the same time with different instances of the Zeroconf class.

This is on iOS devices - I haven't been able to test on anything else.

This code:
[code]

Resulted in these logs, and only searched for `nvstream_dbd` items:
[code]

The order of the `scan` calls seems important.

[2019-07-11 14:47] xploSEoF commented on #93
I stand corrected, it is doing both, one after the other, but it is also crossing messages and stopping the first search to do the second... (update coming to original error)

[2019-07-11 17:09] #49 closed

[2019-07-16 03:44] Nien97788 commented on #93
I got same error.

[2019-07-17 09:59] matthiasgoossens commented on #85
Having the same issue that the `resolved`event is never invoked. For some reason it worked yesterday and without changing anything it doesn't work anymore. Anyone a solution?

[2019-07-22 11:35] SuperBesse commented on #62
I propose this PR to fix it:
https://github.com/balthazar/react-native-zeroconf/pull/94

[2019-07-22 17:51] #62 closed

[2019-07-22 23:44] shanekoss opened #95 "publishService documentation"
Thanks for adding the publishService method - great stuff.

I think there is an error in the documentation:

[code]

That doesn't work - as you are formatting the string in Objective-C like so

`type:[NSString stringWithFormat:@"_%@._%@.", type, protocol]`

I think it should simply be type and protocol, no prefixes or anything, like so:

[code]

Cheers

[2019-08-06 06:46] vedant-dobby opened #96 "Networks are not being detected?"
Hi I am using react-native 0.59.9 and I installed the example of react-native-zeroconf. I have configured various devices including a raspberry pi to detect it but it's showing null. Can you guys tell me how to setup the devices or is there something wrong?

Thanks
@balthazar

[2019-08-16 08:37] TobyEalden commented on #76
Still getting this error, using RN v0.60.5.

The manual linking documentation is incorrect - the header path should be set to:

[code]

You may also need to add a `react-native.config.js` to exclude this library from auto-linking.

[2019-08-16 17:38] balthazar commented on #76
@TobyEalden Feel free to submit a PR if you have the time 🙂

[2019-08-23 10:59] mtzfactory commented on #78
Solution from @westcode worked for me...

[2019-08-23 12:12] tavrez commented on #78
I found out that the steps which produces error is after bundling, meaning you will get your app compiled and you have apk even if this error occurs, you can also use ‘’’gradle app:assembleRelease’’’ instead of ‘’’gradle assembleRelease ’’’ to supress error

[2019-08-29 09:14] AmityTek opened #98 "[Important] Zeroconf.scan is null"
Hi,

I have an error with the module, I created a project react with expo, I installed the module, I imported the module and when I do

`
const zeroconf = new Zeroconf();
zeroconf.scan(4000, 4400);
`

I get this error

TypeError: null is not an object (evaluating 'RNZeroconf.scan')
- node_modules/react-native-zeroconf/dist/index.js:1:4265 in scan
* src/component/MyHeader.js:11:28 in TestZeroConf
*

[2019-09-03 14:34] Christopotamus commented on #76
@TobyEalden you saved my sanity with that.

@balthazar I've edited the wiki to add the line for ios >= RN 0.60.0 until we can get a PR

[2019-09-04 06:43] rolandjitsu commented on #72
@balthazar I'm having a similar issue. Services are discovered, but never resolved. Do you know how I can fix this sort of issue?

[2019-09-07 16:24] FrankFundel commented on #91
https://github.com/FrankFundel/react-native-zeroconf
Enabled txt records on android

[2019-09-07 18:58] balthazar commented on #91
@FrankFundel rather than create and advertise a fork why won't you do a PR?

[2019-09-09 08:02] FrankFundel commented on #91
@balthazar sorry I#M new to this and read here https://stackoverflow.com/questions/50661536/how-do-you-modify-others-library-module to fork the repository. I will do a PR now.

[2019-09-09 10:21] AmityTek commented on #98
... ?

[2019-09-24 14:17] bumpah commented on #86
came across with this issue as well with RN 60.5, simple solution is to add following piece of code at the end of your `android/build.gradle` and issue seems to get fixed.

`subprojects {
    afterEvaluate {project ->
        if (project.hasProperty("android")) {
            android {
                compileSdkVersion 28
                buildToolsVersion "28.0.3"
            }
        }
    }
}`

[2019-10-10 19:49] jasenkabalac opened #102 "TypeError: Cannot read property 'scan' of undefined"
I'm using your sample app in Expo .
 zeroconf.scan('http', 'tcp', 'local.') is not working

[2019-10-15 09:33] thehellmaker commented on #77
Hi Guys,
Sorry didn't see the update on this thread. Let me get back to you in a day about this migration.
1. If I plan to take this up?
2. If yes when will I have a patch for the same?

CHeers,
Akash A

[2019-10-15 09:35] thehellmaker commented on #77
@PhuongNguyenETIT mDNS is a bad library. It is slow and secondly it doesn't work well with all android versions
Please refer to my description about how RxDNSSD is better

[2019-10-15 19:04] thehellmaker commented on #77
@balthazar this is my first shot at native module. Could you please help me with the setup of local dependency setup for react-native-zeroconf? So is it just add dependency in package json as file://filepath ? . It seems like if i do that the module is not found

[2019-10-15 19:07] balthazar commented on #77
Which dependency are you trying to install, and which package.json are you referring to?

[2019-10-15 19:50] thehellmaker commented on #77
so actually i need to start working on migration of react-native-zeroconf from NSD service to rxdnssd2. For that i need to modify this native module

in my project i have a package json which says react-native-zeroconf: 'file://../react-native-zeroconf. However this always says module not found

Instead of npm remote dependency i need to
1. clone react-native-zeroconf
2. add dependency on this loc

[2019-10-15 19:56] balthazar commented on #77
In the cloned react-native-zeroconf directory, you need to run `npm link` and then in your project run `npm link react-native-zeroconf`

[2019-10-24 10:38] mtzfactory commented on #77
I'm very interested in this improvement! :-)

[2019-10-25 17:26] jkaravakis commented on #102
I am having the same issue. I am not using Expo and am using React Native v0.61.2 and react-native-zeroconf v0.11.4.

[2019-10-26 17:33] jkaravakis commented on #102
Hey @jasenkabalac restarting my metro bundler worked for me!

[2019-11-06 09:47] vedant-dobby opened #104 "How to scan Websockets?"
Hi I'm trying to scanning MQTT ports and I got success. I want to whether I can directly search for a specific port without specifying the type of the port. For eg. I want to search for websockets which is port 9001. How can I do that?

[2019-11-06 09:49] vedant-dobby commented on #104
@balthazar

[2019-11-06 16:57] balthazar commented on #104
You might want to read a little more about Zeroconf to get a better answer, but I think you should be able to as the default type is tcp and that's what websockets are using

[2019-12-05 08:38] paulhayes commented on #98
I get this error too. Building for android.

```zeroconf.scan('http', 'tcp', 'local.');```

react-native version: 0.59.10
Android SDK 28

[2019-12-06 19:09] #104 closed

[2019-12-11 22:36] paulhayes commented on #98
Hi @AmityTek, I realised you have to eject expo for your project to include zeroconf module. I also had to create a new up to date react-native project to get the dependencies right.

I hope that helps you.

[2020-01-02 15:40] ShivamJoker opened #111 "How to scan for multiple MDNS hosts ?"
Hey I am wondering how we can lookup for a particular host. I tried having multiple hosts but it shows only one I looked through all the issues but couldn't find anything.
I have a microcontroller with name `testme.local`
And I want to particularly look for it but when I create mdns host from nodejs also then the `resolved` function gives me only Node JS host name.
Any help would be very helpful.

[2020-01-17 10:20] sagarrs commented on #96
same here any updates ?

[2020-01-17 10:39] sagarrs opened #112 "Android : react-native-zeroconf logging output as null in android, but works fine in IOS."
I have used it before it was working fine in android as well but suddenly it started logging output as **"null"**, but in IOS its working completely fine

this is the console.log output

[code]
This code is from the example of react-native-zeroconf
https://github.com/balthazar/react-native-zeroconf/blob/master/example/App.js

[code]

[2020-01-17 11:12] sagarrs commented on #112
just switched off and switched on the phone working fine.

[2020-01-17 11:12] #112 closed

[2020-01-24 21:34] jkaravakis commented on #111
Hello @ShivamJoker , I have not had trouble myself with multiple MDNS hosts. However, I have had trouble finding multiple addresses for this same host. I will sometimes receive multiple addresses from my scan, but many times the results are inconsistent and I only get one result.

Is your problem the same as mine by chance? if so, have you discovered any resolutions?

[2020-01-25 04:16] ShivamJoker commented on #111
I don't understand how same host with different address like I described multiple servers are running and they are connected to the same network but I can only find one

[2020-01-25 04:22] jkaravakis commented on #111
Ok I believe my situation is different. In my case, I have two devices with the same host name. When working properly, I see two addresses under the same host name after a scan.

I have had no issues seeing two devices with different host names (e.g. a printer and a smart plug).

[2020-01-25 04:24] ShivamJoker commented on #111
Which function do you use for searching multiple hosts ? Can i get some code

[2020-01-28 10:31] WookieFPV opened #113 "[ANDROID only] doesn't work with React-Native 0.61.5"
After upgrading from 0.59.10 (with zeroconf 0.10.0) to 0.61.5 zeroconf (with zeroconf 0.11.5) on android doesn't discover devices. I also tried zeroconf 0.10.0 with the latest React-Native but that doesn't fix my issue.

Phone: Android 10, OnePlus 6, also tried an emulator with android 9

I tried autolinking the lib and to manually link it (like it was with 0.59.10 which worked fine).
 IOS works f

[2020-01-28 22:26] #113 closed

[2020-01-28 22:28] WookieFPV commented on #113
zeroconf does not work on an emulator.
The problem that was preventing it to work on a real android phone was not related to this package.

Work now like a charm

[2020-01-29 14:34] szakhlypa opened #114 "Publish 0.11.5 to npm registry"
@balthazar can you please publish latest version to npm registry?
Thank you.

[2020-01-29 15:43] balthazar commented on #114
Done 😄

[2020-01-29 15:43] #114 closed

[2020-02-04 15:09] jasenkabalac opened #115 "Could not get unknown property 'mergeResourcesProvider'"
In the latest version I get this error:
Could not get unknown property 'mergeResourcesProvider' for object of type com.android.build.gradle.internal.api.ApplicationVariantImpl.

I also tried to change classpath in android/build.gradle to 'com.android.tools.build:gradle:3.3.0'

[2020-02-06 14:44] jasenkabalac commented on #115
I was successful with the older version, and now after scanning I get only my desktop as a result. Is there a way of finding all devices connected to wi fi ?

[2020-02-17 11:46] sagarrs opened #116 "zeroconf.scan() doesn't work"
on submit when i try to call the **handleZeroConf()** which calls **refreshData** function to scan it inturn calls  **"zeroconf.scan()"** . it works fine the first time, the zero config **gets resolved** gets the **services** etc. but second time when i press submit it doesn't scan at all it gets stuck at "**refreshData**" function. Can someone please explain how to overcome this ?

    refreshDat

[2020-02-17 23:59] #116 closed

[2020-03-10 03:23] micahbule opened #117 "Unpublish is not working when app is killed"
Since there is no way official way to detect in React Native if an app is killed in the task manager, I can only trigger the `unpublishService()` method when the component has exited in a clean manner (via back button).

Hence the service can still be detected in my network after the app is killed and my listeners won't properly handle `remove` or `update` events that are dependent on the publishe

[2020-04-01 11:49] FrankFundel opened #121 "Unhandled error (undefined) when resolving"
Hey,
when I publish a service on my local node server, I can find and resolve it using `react-native-zeroconf` a few times, but after the 10th time or so it fails. I can find the service with `on("found")` but, when it is resolving the service I get an` Error: Unhandled error. (undefined)`. After that i connot resolve the service anymore.

![IMG_0014](https://user-images.githubusercontent.com/1282

[2020-04-01 12:28] FrankFundel commented on #121
When I add
[code]
I don't get the Error displayed above, but in console I get: ` -72007` and `10` and the service still does not get resolved.

[2020-04-02 09:26] andreleon opened #122 "Windows support"
Hey everybody!

We have been using this library very successfully now for a few weeks. I was wondering if there is a plan to add support for react-native-windows. We want to port our app for Windows using react-native-windows and are searching a way to add support for mDNS scanning/discovery to the windows version aswell. But without any luck yet. All "pure javascript" solutions [like mdns-js](htt

[2020-04-02 15:43] balthazar commented on #122
Hey, yeah no immediate plan to implement windows support, but wouldn't refuse a PR obviously ;)

[2020-04-12 10:27] benjefferies commented on #96
Have you proved it's discoverable with something like dns-sd?

[code]

One thing. I have noticed while creating my react native app is that it will only pick it up if I start my zeroconf service after the scan has started. Still trying to get to the bottom of this.

[2020-04-21 09:34] FrankFundel opened #124 "New Version does not work"
When updating to 0.12.0 with npm, I get an error saying, that I called `publishService` with 5 arguments but expected 6. In fact the /dist/index.js was not updated:
`key:'publishService',value:function publishService(type,protocol){var domain=arguments.length>2&&arguments[2]!==undefined?arguments[2]:'local.';var name=arguments[3];var port=arguments[4];RNZeroconf.registerService(type,protocol,domai

[2020-04-21 10:09] FrankFundel commented on #124
And txt (tested on iOS) can only handle string, not boolean or int etc.

[2020-04-21 12:28] dotemacs commented on #124
I noticed that too, but I figured that it was just my own cache that was somehow corrupt.

In `package.json` you see this step:

[code]

which is meant to generate the index.js in question. But when I look at the contents of my `node_modules/react-native-zeroconf` I do see `dist` and the function, just as you've shared above @FrankFundel without the `txt` argument!

My understanding is that the `b

[2020-04-21 12:30] dotemacs commented on #124
I can confirm that I'm definitely installing the latest version `0.12.0` just like @FrankFundel.

[2020-04-21 13:24] dotemacs commented on #124
Please pull in this change and test it out:

https://github.com/dotemacs/react-native-zeroconf/commit/0776690032ad466a1d02cf3cc182a562318f0ab5

I just tried it on iOS and it works. But it would be good to have a confirmation.

[2020-04-21 15:17] balthazar commented on #124
Try the new `0.12.1` version

[2020-04-21 15:17] #124 closed

[2020-04-21 16:26] dotemacs commented on #91
I guess this can be closed too

[2020-04-21 16:31] #91 closed

[2020-04-21 16:34] #65 closed

[2020-04-21 16:36] balthazar commented on #121
Duplicate of #45

[2020-04-21 16:36] #121 closed

[2020-04-21 16:37] #102 closed

[2020-04-21 16:37] #98 closed

[2020-06-14 13:23] vtn-dev2016 opened #126 "'error: unhandled error: (undefined)' on ios"
when i go to settings wifi my app is running in background when i comeback again i found ![103671435_2646913052297636_5115833771188916016_n](https://user-images.githubusercontent.com/30209508/84594659-159dd900-ae7e-11ea-8fed-4df7580a5047.jpg)

[2020-06-14 13:35] dotemacs commented on #126
Hello @vtn-dev2016

I'm not a maintainer of this package.

But do you have anything else to go on apart from this screenshot?

Can you try to create a minimum reproducible app and share it somewhere publicly on GitHub?

I can't guarantee that I'll solve the problem, but at least it'll give us a bit more to go on.

[2020-06-14 16:25] vtn-dev2016 commented on #126
I have encountered a problem.  i has duplicate new Zeroconf() thanks.

[2020-06-14 16:26] #126 closed

[2020-06-18 21:34] nashnash opened #127 "Search all device connected on by router"
hello ! I use zero conf in order to be able to show all the objects connected to my network, problem is that I only see my router, and yet I use the default type, protocol and domain I found in the documentation.

[2020-06-25 05:10] oscadev opened #128 "on found doesnt find anything on Android (works fine on iOS)"
on.start runs per the console.log callback, but on.scan never triggers the callback (as if not finding anything). The exact same code works fine in iOS, and I have added the user-permissions mentioned:

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.

[2020-07-19 04:05] thehellmaker commented on #77
I am complete with the implementation of this library migration. I have implemented a Zeroconf interface so that NsdService the old implmentation and DnsSd the new implementation are pluggable. Will open a pull request

[2020-07-19 04:06] thehellmaker commented on #77
@balthazar  Please let me know if you have time to review this?

[2020-07-19 06:05] thehellmaker commented on #52
@balthazar I do not have permission to raise a pull request. Please do provide be perms on this repo

[2020-07-19 06:06] thehellmaker commented on #77
@balthazar I do not have permission to open PR on this. Please do provide me with appropriate permissions.

[2020-07-19 07:15] balthazar commented on #77
Anyone can PR so not sure what you want.

[2020-07-19 12:55] thehellmaker commented on #77
In order to open pull request i need to push changes to remote branch on github and i do not have permission to push to a branch

[2020-07-19 12:55] thehellmaker commented on #77
git --no-optional-locks -c color.branch=false -c color.diff=false -c color.status=false -c diff.mnemonicprefix=false -c core.quotepath=false -c credential.helper=sourcetree push -v --tags --set-upstream origin refs/heads/dnssd-enhancement:refs/heads/dnssd-enhancement
Pushing to https://github.com/balthazar/react-native-zeroconf.git
remote: Permission to balthazar/react-native-zeroconf.git denied t

[2020-07-19 16:34] balthazar commented on #77
That's what a fork is for lmao

[2020-07-19 16:56] thehellmaker commented on #77
https://github.com/balthazar/react-native-zeroconf/pull/131

[2020-07-21 12:15] #52 closed

[2020-08-03 09:25] BlackWild commented on #33
I believe, this problem is not completely fixed. Here is why:

Since every new instance of the Zeroconf object empties `this._dListeners` in the constructor, if somehow that specific instance is lost during the application flow, there is no way to remove the previous listeners from a new instance of Zeroconf.

I escape this problem by manually call `DeviceEventEmitter.removeAllListeners()` before

[2020-08-07 11:52] jalesingh commented on #128
Same issue for me as well, please help to resolve

[2020-08-25 07:25] DennisSnijder commented on #23
@balthazar @jdpigeon I found a fix/solution to this, you can listen for the "AppState" and remove the listener when the app becomes inactive and re-add them when the app becomes active again.

Here's an example:
[code]

[code]

The first line in the function prevents the listener to be added twice (This triggers an error as-well).
Hope this helps 😄

[2020-09-17 21:51] wolfuser99 opened #133 "Stop working on device w/ iOS 14"
After update an iPad 6ª Gen to v14, zeroconf just trow:
![image](https://user-images.githubusercontent.com/21695636/93531962-71ad4900-f916-11ea-8a32-4f664c3a90e3.png)

The same code still works on emulator and android.

[code]
Any ideas?

[2020-09-21 13:01] wolfuser99 commented on #133
New permissions, got it

[2020-09-21 13:01] #133 closed

[2020-09-24 17:36] digimatt22 commented on #45
Has there been a resolution to this problem?

[2020-10-06 13:01] andreabadesso opened #140 "Crash on startup on some android devices"
The crash happens after I start listening:

[code]

Here is a crash log from an Asus ZenPhone3 (ASUS_Z017DC):

[code]

[2020-10-12 21:15] elmcapp opened #141 "Find zeroconf services on network"
Can you provide an example how to find a bonjour service on the network. Using the code I am looking for example that would print the port number and ip or hostname of any service on the network named @"_some_service_of_type._tcp"

So far the documentation I have tried on the home page is not working

[2020-10-20 10:25] BigFaceCatQuQ opened #142 "iOS14 use zeroconf scan Error"
![BF6E3E51-86B8-4A7A-B15A-D23510BCD6B2_1_101_o](https://user-images.githubusercontent.com/41138293/96573997-77c18b80-1301-11eb-865d-5cf2dc0488ff.jpeg)

![image](https://user-images.githubusercontent.com/41138293/96574054-8c058880-1301-11eb-81d7-b5bcf7401f67.png)

[2020-10-21 02:11] BigFaceCatQuQ commented on #142
this problem has been solved， my config went wrong

[2020-10-23 13:51] elmcapp opened #143 "Scan Stop working after submitting to App Store Xcode"
Scan stop working after submitting to the apple store. The app is in TestFlight however it will not scan for services anymore. Can someone help please

I added the following to the info.plist file

<key>NSBonjourServices</key>
	<array>
		<string>ezmachine._tcp.</string>
	</array>
<key>exmachine</key>
<string>Remote control for ezmahines</string>

[2020-10-24 06:50] jimji1005 commented on #141
most likely you would need a device or service  that is broadcasting MDNS.  The  device/service would have a  name set. thats the name you want to add to your config and info.plist

example, my device is broadcasting mDNS with the name of `_localctl` so my plist would be
[code]

[2020-11-08 13:49] wielski commented on #128
I have same issue.
`found` event is firing, but `resolved` is not.
`zeroconf.getServices()` returns object with name field only.

[2020-11-23 09:51] mi-mazouz commented on #41
still have this issue with the last version!

[2020-11-30 19:18] Vannevelj commented on #142
@BigFaceCatQuQ can you clarify what the issue was with your config? I'm seeing this error when I go through these steps:

1. Resolve a service
2. Background the app
3. Stop the service advertisement
4. Foreground the app

[2020-11-30 20:21] Vannevelj commented on #23
Awesome, @DennisSnijder! That worked for me as well. This is the hook-based variation that I came up with:

[code]

with helper:

[code]

[2020-12-10 07:52] notjulian commented on #143
hi,
have you applied this?
https://developer.apple.com/contact/request/networking-multicast
https://developer.apple.com/news/?id=0oi77447

Note: You can test your app using the iOS and iPadOS simulators without an active entitlement, but using multicast and broadcast networking on physical hardware requires the entitlement.

[2020-12-10 18:17] elmcapp commented on #143
In xcode you need to edit Info.Plist file. instead of using ezmachine._tcp.
use _ezmachine._tcp.

On Thu, Dec 10, 2020 at 2:52 AM Julian <notifications@github.com> wrote:

[2020-12-15 14:10] whatdtech commented on #128
This npm package [1]: https://github.com/tableau/react-native-dns-lookup
 is the only option if you want to get the ip address (local ip too) using mdns hostname.
  [2]: https://github.com/avertin/DnsTest/blob/master/App.js#L30
Here is an example by the contributor

[2020-12-16 09:56] mayue3434 opened #148 "Cannot start scan on iOS14"
iPhone 8p, iOS14,
"react-native": "0.62.2",
"react-native-zeroconf": "^0.12.4",

I run the example but failed, even cannot start scan:
![scan](https://user-images.githubusercontent.com/19703139/102333072-dfc1e480-3fc7-11eb-8a9c-8ab679d443ea.gif)

And I get the error code:
![image](https://user-images.githubusercontent.com/19703139/102332724-7346e580-3fc7-11eb-92cc-cff501710669.png)

Does anyone kn

[2020-12-23 09:57] DennisSnijder commented on #148
Make sure you specificy the service you're scanning for.
https://github.com/balthazar/react-native-zeroconf#ios-14-permissions

[2020-12-23 10:20] mayue3434 commented on #148
Yes. I have added them. Here is my Info.plist:
![image](https://user-images.githubusercontent.com/19703139/102986193-64be7800-454b-11eb-8361-fa63b38dbf8a.png)
But still the same error

[2020-12-29 04:50] nxtexe opened #150 "How to discover all discoverable devices"
It seems zeroconf is not working for me on react native version 0.63.3. It is a none expo react app being tested on physical device. I registered a listener for all possible events and none fire. getServices() also returns {}. I know my service is working since I can ping the service from windows command line. Ideas?

[2020-12-30 12:43] ilyalezhnev commented on #148
The same issue. Is there a solution? My ios app have been crashed on .scan() method.

[2021-01-06 13:49] calinbodnar commented on #148
@ilyalezhnev @mayue3434 Make sure the Bonjour service in the plist is an actual service, as in _your-bonjour-service._tcp -> this works for me.

[2021-01-07 20:15] stevelacy commented on #148
In my case I was searching for an Arduino service. My values on iOS 14:
Info.plist
[code]

Scan:
[code]

[2021-01-08 10:54] mayue3434 commented on #148
You inspire me. I modify my code to:
Info.plist
[code]
js code:
[code]
It works. Thank you all so much.

[2021-01-08 10:54] #148 closed

[2021-01-13 15:50] haykodarb commented on #96
Did you find a way to solve it? I'm having a similar issue.

[2021-01-21 15:04] shrynshjn opened #151 "null is not an object (evaluating 'RNZeroconf.scan')"
I am getting this error when trying to call zeroconf.scan, or any other method with zeroconf in ios
I tried consoling zeroconf oject and the methods are defined, but when calling them, there is this error.
Any help, guidance is apprecaited.

[2021-01-21 15:23] shrynshjn commented on #151
for some reason, pods were not being installed (I am new to ios development)
Reinstalling react-native-zeroconf and installing pods again fixed the issue

[2021-01-21 15:23] #151 closed

[2021-01-21 16:42] jwh-hutchison commented on #150
I have the same issue, have you checked if you receive anything in the found event call? I can pick up the service name but the service never actually resolves.

[2021-01-21 17:49] nxtexe commented on #150
What I did to solve the issue, I used bonjour browser on windows to discover the device. It came up as type: _workstation._tcp, now in react native zeroconf scan method instead of passing http as type I passed workstation as type i.e. ```scan('workstation', 'tcp', '.local');```, this works. I figured this out due to the docs saying when trying to advertise you need to pass name and type underscore

[2021-01-21 17:50] nxtexe commented on #150
Sorry for the long winded reply but this is so confusing I hope this explains it perfectly to the next wanderer. I may open a PR to make it clearer.

[2021-01-22 11:55] jwh-hutchison commented on #150
Was the resolved event ever called though?

[2021-01-22 15:59] nxtexe commented on #150
Yea everything works fine now.

[2021-01-25 15:13] jwh-hutchison commented on #150
I got mine working, turns out battery optimizations were causing the resolve failures, I set com.android.server.NetworkPermissionConfig to 'don't optimise' in my android settings under: Apps & Notifications -> Advanced -> Special App Access -> Battery Optimization, now it works every time.

[2021-01-25 15:13] jwh-hutchison commented on #128
I got mine working, on Android it turns out battery optimizations were causing the resolve failures, I set com.android.server.NetworkPermissionConfig to 'don't optimise' in my android settings under: Apps & Notifications -> Advanced -> Special App Access -> Battery Optimization, now it works every time.

[2021-01-25 15:15] #150 closed

[2021-01-25 22:05] haykodarb opened #152 "Inconsistent behaviour in Android phone."
Hi, I've been struggling for a while now on making the library work consistently on my Samsung Galaxy J5 Prime.

It will sometimes find devices immediately, in less than 100 milliseconds, and it will sometimes take a full minute. The issue is finding the devices, not resolving them. Whenever it finds devices it will resolve in a couple milliseconds.

I have 2 devices on the network and they are bo

[2021-01-31 18:16] haykodarb commented on #152
Ok so apparently the Service Browser app that I listed uses a different mdns library than the one used in this library. Andriy Druk is the writer of both the Service Browser app aswell as the library it runs on.

There is currently a pull request open for adding support for said library on this module, which is already finished and working, it would be nice if it could be merged.

https://github.c

[2021-01-31 18:16] #152 closed

[2021-02-24 23:39] DropKode21 opened #154 "(iOS 14 only) EXC_BREAKPOINT__CFAssertMismatchedTypeID"
Since iOS 14 release, I've been experiencing a intermittent crash when scanning for services.

Anyone else experiencing this in their app and have a fix/workaround?

[code]

[2021-02-25 11:57] mo22 opened #155 "typescript d.ts file"
Hi,

maybe you want to add a d.ts typing file (package.json "typing": "index.d.ts")

[code]

[2021-02-25 16:43] balthazar commented on #155
I don't deal with typings as I don't use them, usually people do PRs on the repos I maintain and I merge them, so feel free! 🙂

[2021-03-23 12:37] LaRenarde commented on #128
Hello, has anyone found a solution to this problem? I am using react-native version 0.63.4

[2021-04-08 09:44] tunm1228 commented on #70
Have you found a solution to this question, please help me?

[2021-04-09 09:23] tunm1228 commented on #111
want to be like you :))

[2021-04-09 09:35] tunm1228 commented on #77
i get my request but it error.
bundling failed: Error: While trying to resolve module `react-native-zeroconf` from file `/***/Project.js`, the package `/***/node_modules/react-native-zeroconf/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/*/node_modules/react-native-zeroconf/dist`. Indeed, none of these files exist:

[2021-04-13 14:53] salmazov commented on #142
The same problem. I just start scanning and I have the same error on iOS. Android version works pretty good!

[2021-04-16 07:48] Moni-h opened #156 "Memory leak"
Memory leak: When clicking the button for the first time it calls zeroconf functions(Start, stop, resolve) 1 time, but the second time  it calls 2 times and so on.
And I get it:
[Fri Apr 16 2021 11:46:35.967]  LOG      [Start]
[Fri Apr 16 2021 11:46:35.971]  LOG      [Start]
[Fri Apr 16 2021 11:46:40.985]  LOG      [Stop]
[Fri Apr 16 2021 11:46:41.100]  LOG      [Stop]

[2021-04-16 07:58] Moni-h commented on #47
I also have that problem. How I can solve it?
[Fri Apr 16 2021 11:46:35.967]  LOG      [Start]
[Fri Apr 16 2021 11:46:35.971]  LOG      [Start]
[Fri Apr 16 2021 11:46:40.985]  LOG      [Stop]
[Fri Apr 16 2021 11:46:41.100]  LOG      [Stop]

[2021-04-16 08:04] Moni-h commented on #47
[Fri Apr 16 2021 11:46:35.967] LOG [Start]
[Fri Apr 16 2021 11:46:35.971] LOG [Start]
[Fri Apr 16 2021 11:46:40.985] LOG [Stop]
[Fri Apr 16 2021 11:46:41.100] LOG [Stop]

I call zero conf scans and on resolve, I log the resolved data however the for the number of times I call the method.
[Fri Apr 16 2021 11:46:35.967] LOG [Start]
[Fri Apr 16 2021 11:46:35.971] LOG [Start]
[Fri Apr 16 2021 11:46:40

[2021-04-16 08:05] Moni-h commented on #47
I call zero conf scans and on resolve, I log the resolved data however the for the number of times I call the method.
[Fri Apr 16 2021 11:46:35.967] LOG [Start]
[Fri Apr 16 2021 11:46:35.971] LOG [Start]
[Fri Apr 16 2021 11:46:40.985] LOG [Stop]
[Fri Apr 16 2021 11:46:41.100] LOG [Stop]

[2021-04-16 08:50] #156 closed

[2021-04-17 10:40] tavrez commented on #142
I also have this problem.
On Android everything is fine.
on iOS 12 everything is also fine.
but iOS 14 shows same error. I configured info.plist according to readme.
when I call zeroconf.scan("... this happens

[2021-04-18 19:20] tavrez commented on #142
Update, my problem solved.
For me it was a problem because of info.plist .
If you do `zeroconf.scan('TOPIC','tcp')` then you need `<string>_TOPIC._tcp</string>` in info.plist. I think document should be updated to clearly show this.
Also I feel like `NSLocalNetworkUsageDescription` needs to be on top of `NSBonjourServices`, but I'm not sure.

[2021-05-24 09:57] Salman9000 opened #157 "Nothing Works"
`zeroconf.scan('http', 'tcp', 'local.');`
Doesnt prints anything

[2021-05-24 15:24] #157 closed

[2021-05-25 04:08] ljbatwh commented on #45
Did a [PR]((https://github.com/balthazar/react-native-zeroconf/pull/158)) for this bug. @balthazar if you could give a review, it would be better

[2021-05-25 23:57] #45 closed

[2021-07-21 23:56] jkoutavas commented on #128
iOS is working great. What's up with Android? Can't get it to go.

[2021-07-23 17:46] MixMasterMitch commented on #128
This appears to be a duplicate of https://github.com/balthazar/react-native-zeroconf/issues/85

[2021-07-23 17:52] MixMasterMitch commented on #128
Using the Android debugger, I see [this line](https://github.com/balthazar/react-native-zeroconf/blob/master/android/src/main/java/com/balthazargronon/RCTZeroconf/nsd/NsdServiceImpl.java#L166) being repeatedly invoked. I think this retry loop is intentional, but the NSD state never changes.

[2021-07-23 17:56] MixMasterMitch commented on #128
I do not have any issue when there is only 1 device to resolve. Per [this stack overflow question](https://stackoverflow.com/questions/57940021/nsdmanager-resolvelistener-error-code-3-failure-already-active), it looks like there is a concurrency problem, so the issue can likely be fixed by resolving services one at a time.

[2021-07-26 15:10] sahlawiz opened #160 "Zeroconf"

[2021-07-26 15:43] #160 closed

[2021-07-27 18:02] Tilenozz opened #161 "Scan by port"
Hi,
this package is rly awesome , but actually i need to scan the net to discover devices with open port 1774, on tcp protocol , with the same information as other type of search.

Is there any way to achive this ?
Thanks

[2021-09-01 10:59] valentinmakov opened #163 "Proposition (Android): resolve multiple IP addresses for DNSSD instead of a single IPv4"
Hi,

I noticed a couple of things that might be improved in the project.

First, I see that when using DNSSD mode on Android, services always resolve with a single IP address which might be not enough sometimes. After a brief investigation (I am no Java expert) I saw that in android/src/main/java/com/balthazargronon/RCTZeroconf/rx2dnssd/DnssdImpl.java file the IP addresses are retrieved with the h

[2021-10-07 16:20] jkoutavas opened #166 "Discovery on Android emulator?"
My React Native app does fine discovering my bonjour service on iOS simulator, iOS hardware, and Android hardware, but doesn't succeed with discovery on Android emulator. Is there some kind of a configuration thing I can do to get this to work on emulator, or is it a known limitation?

I'm running the emulator on macOS with Android Studio.

[2021-11-16 14:14] DennisSnijder commented on #166
@jkoutavas try Genymotion's emulator, they have support for mDNS discovery using `adb bridge` commands.  It takes some tweaking to make it actually work, but it's possible. Best recommendation imo is to buy a simple android phone for testing.

[2022-06-13 23:46] 122wr commented on #80
Vai dar certo

[2022-11-08 16:12] dbreton333 commented on #166
Can't you use adb bridge on android emulator? @jkoutavas have you found a solution, I have the same issue...